{{ define "main" }}

<p>
Un soir, l’âme du vin chantait dans les bouteilles :<br />
« Homme, vers toi je pousse, ô cher déshérité,<br />
 Sous ma prison de verre et mes cires vermeilles,<br />
  Un chant plein de lumière et de fraternité !<br />
</p>

<p>
  Je sais combien il faut, sur la colline en flamme,<br />
  De peine, de sueur et de soleil cuisant<br />
  Pour engendrer ma vie et pour me donner l’âme ;<br />
  Mais je ne serai point ingrat ni malfaisant,<br />
</p>

<p>
  Car j’éprouve une joie immense quand je tombe<br />
  Dans le gosier d’un homme usé par ses travaux,<br />
  Et sa chaude poitrine est une douce tombe<br />
  Où je me plais bien mieux que dans mes froids caveaux.<br />
</p>

<p>
  Entends-tu retentir les refrains des dimanches<br />
  Et l’espoir qui gazouille en mon sein palpitant ?<br />
  Les coudes sur la table et retroussant tes manches,<br />
  Tu me glorifieras et tu seras content ;<br />
</p>

<p>
  J’allumerai les yeux de ta femme ravie ;<br />
  À ton fils je rendrai sa force et ses couleurs<br />
  Et serai pour ce frêle athlète de la vie<br />
  L’huile qui raffermit les muscles des lutteurs.<br />
</p>

<p>
  En toi je tomberai, végétale ambroisie,<br />
  Grain précieux jeté par l’éternel Semeur,<br />
  Pour que de notre amour naisse la poésie<br />
  Qui jaillira vers Dieu comme une rare fleur ! »<br />
</p>

{{ end }}
