{{ define "main" }}

<p>
La lune s’attristait. Des séraphins en pleurs<br />
Rêvant, l’archet aux doigts, dans le calme des fleurs<br />
Vaporeuses, tiraient de mourantes violes<br />
De blancs sanglots glissant sur l’azur des corolles<br />
— C’était le jour béni de ton premier baiser.<br />
Ma songerie aimant à me martyriser<br />
S’enivrait savamment du parfum de tristesse<br />
Que même sans regret et sans déboire laisse<br />
La cueillaison d’un Rêve au cœur qui l’a cueilli.<br />
J’errais donc, l’œil rivé sur le pavé vieilli<br />
Quand avec du soleil aux cheveux, dans la rue<br />
Et dans le soir, tu m’es en riant apparue<br />
Et j’ai cru voir la fée au chapeau de clarté<br />
Qui jadis sur mes beaux sommeils d’enfant gâté<br />
Passait, laissant toujours de ses mains mal fermées<br />
Neiger de blancs bouquets d’étoiles parfumées.<br />
</p>

{{ end }}
