{{ define "main" }}

<p>
Les sanglots longs<br />
Des violons<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
De l’automne<br />
Blessent mon cœur<br />
D’une langueur<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
Monotone.<br />
</p>

<p>
Tout suffocant<br />
Et blême, quand<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
Sonne l’heure,<br />
Je me souviens<br />
Des jours anciens<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
Et je pleure ;<br />
</p>

<p>
Et je m’en vais<br />
Au vent mauvais<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
Qui m’emporte<br />
Deçà, delà,<br />
Pareil à la<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
Feuille morte.<br />
</p>

{{ end }}
