{{ define "main" }}

<p>
Comme je descendais des Fleuves impassibles,<br />
Je ne me sentis plus guidé par les haleurs ;<br />
Des Peaux-Rouges criards les avaient pris pour cibles,<br />
Les ayant cloués nus aux poteaux de couleurs.<br />
</p>

<p>
J’étais insoucieux de tous les équipages,<br />
Porteur de blés flamands ou de cotons anglais.<br />
Quand avec mes haleurs ont fini ces tapages,<br />
Les Fleuves m’ont laissé descendre où je voulais.<br />
</p>

<p>
Dans les clapotements furieux des marées,<br />
Moi, l’autre hiver, plus sourd que les cerveaux d’enfants,<br />
Je courus ! Et les Péninsules démarrées,<br />
N’ont pas subi tohu-bohus plus triomphants.<br />
</p>

<p>
La tempête a béni mes éveils maritimes.<br />
Plus léger qu’un bouchon j’ai dansé sur les flots<br />
Qu’on appelle rouleurs éternels de victimes,<br />
Dix nuits, sans regretter l’œil niais des falots.<br />
</p>

<p>
Plus douce qu’aux enfants la chair des pommes sures,<br />
L’eau verte pénétra ma coque de sapin<br />
Et des taches de vins bleus et des vomissures<br />
Me lava, dispersant gouvernail et grappin.<br />
</p>

<p>
Et dès lors, je me suis baigné dans le poème<br />
De la mer, infusé d’astres, et latescent,<br />
Dévorant les azurs verts où, flottaison blême<br />
Et ravie, un noyé pensif parfois descend,<br />
</p>

<p>
Où, teignant tout à coup les bleuités, délires<br />
Et rythmes lents sous les rutilements du jour,<br />
Plus fortes que l’alcool, plus vastes que nos lyres,<br />
Fermentent les rousseurs amères de l’amour.<br />
</p>

<p>
Je sais les cieux crevant en éclairs, et les trombes,<br />
Et les ressacs, et les courants, je sais le soir,<br />
L’aube exaltée ainsi qu’un peuple de colombes,<br />
Et j’ai vu quelquefois ce que l’homme a cru voir.<br />
</p>

<p>
J’ai vu le soleil bas taché d’horreurs mystiques<br />
Illuminant de longs figements violets,<br />
Pareils à des acteurs de drames très antiques,<br />
Les flots roulant au loin leurs frissons de volets ;<br />
</p>

<p>
J’ai rêvé la nuit verte aux neiges éblouies,<br />
Baisers montant aux yeux des mers avec lenteur,<br />
La circulation des sèves inouïes<br />
Et l’éveil jaune et bleu des phosphores chanteurs.<br />
</p>

<p>
J’ai suivi des mois pleins, pareille aux vacheries<br />
Hystériques, la houle à l’assaut des récifs,<br />
Sans songer que les pieds lumineux des Maries<br />
Pussent forcer le muffle aux Océans poussifs ;<br />
</p>

<p>
J’ai heurté, savez-vous ? d’incroyables Florides,<br />
Mêlant aux fleurs des yeux de panthères, aux peaux<br />
D’hommes, des arcs-en-ciel tendus comme des brides,<br />
Sous l’horizon des mers, à de glauques troupeaux ;<br />
</p>

<p>
J’ai vu fermenter les marais énormes, nasses<br />
Où pourrit dans les joncs tout un Léviathan,<br />
Des écroulements d’eaux au milieu des bonaces,<br />
Et les lointains vers les gouffres cataractant !<br />
</p>

<p>
Glaciers, soleils d’argent, flots nacreux, cieux de braises.<br />
Echouages hideux au fond des golfes bruns<br />
Où les serpents géants dévorés des punaises<br />
Choient des arbres tordus, avec de noirs parfums.<br />
</p>

<p>
J’aurais voulu montrer aux enfants ces dorades<br />
Du flot bleu, ces poissons d’or, ces poissons chantants.<br />
Des écumes de fleurs ont béni mes dérades<br />
Et d’ineffables vents m’ont ailé par instants.<br />
</p>

<p>
Parfois, martyr lassé des pôles et des zones,<br />
La mer dont le sanglot faisait mon roulis doux<br />
Montait vers moi ses fleurs d’ombre aux ventouses jaunes<br />
Et je restais, ainsi qu’une femme à genoux,<br />
</p>

<p>
Presqu’île, ballottant sur mes bords les querelles<br />
Et les fientes d’oiseaux clabaudeurs aux yeux blonds,<br />
Et je voguais, lorsqu’à travers mes liens frêles<br />
Des noyés descendaient dormir, à reculons.<br />
</p>

<p>
Or moi, bateau perdu sous les cheveux des anses,<br />
Jeté par l’ouragan dans l’éther sans oiseau,<br />
Moi dont les Monitors et les voiliers des Hanses<br />
N’auraient pas repêché la carcasse ivre d’eau,<br />
</p>

<p>
Libre, fumant, monté de brumes violettes,<br />
Moi qui trouais le ciel rougeoyant comme un mur<br />
Qui porte, confiture exquise aux bons poètes,<br />
Des lichens de soleil et des morves d’azur,<br />
</p>

<p>
Qui courais taché de lunules électriques,<br />
Plante folle, escorté des hippocampes noirs,<br />
Quand les Juillets faisaient crouler à coups de triques<br />
Les cieux ultramarins aux ardents entonnoirs,<br />
</p>

<p>
Moi qui tremblais, sentant geindre à cinquante lieues<br />
Le rut des Béhémots et les Maelstroms épais,<br />
Fileur éternel des immobilités bleues,<br />
Je regrette l’Europe aux anciens parapets.<br />
</p>

<p>
J’ai vu des archipels sidéraux ! Et des îles<br />
Dont les cieux délirants sont ouverts au vogueur :<br />
— Est-ce en ces nuits sans fonds que tu dors et t’exiles,<br />
Million d’oiseaux d’or, ô future Vigueur ?<br />
</p>

<p>
Mais, vrai, j’ai trop pleuré ! Les aubes sont navrantes,<br />
Toute lune est atroce et tout soleil amer.<br />
L’âcre amour m’a gonflé de torpeurs enivrantes.<br />
Oh ! que ma quille éclate ! Oh ! que j’aille à la mer !<br />
</p>

<p>
Si je désire une eau d’Europe, c’est la flache<br />
Noire et froide où, vers le crépuscule embaumé,<br />
Un enfant accroupi, plein de tristesse, lâche<br />
Un bateau frêle comme un papillon de mai.<br />
</p>

<p>
Je ne puis plus, baigné de vos langueurs, ô lames,<br />
Enlever leur sillage aux porteurs de cotons,<br />
Ni traverser l’orgueil des drapeaux et des flammes,<br />
Ni nager sous les yeux horribles des pontons !<br />
</p>

{{ end }}
