{{ define "main" }}

<p>
Lorsque, par un décret des puissances suprêmes,<br />
Le Poëte apparaît en ce monde ennuyé,<br />
Sa mère épouvantée et pleine de blasphèmes<br />
Crispe ses poings vers Dieu, qui la prend en pitié :<br />
</p>
<p>
« — Ah ! que n’ai-je mis bas tout un nœud de vipères,<br />
Plutôt que de nourrir cette dérision !<br />
Maudite soit la nuit aux plaisirs éphémères<br />
Où mon ventre a conçu mon expiation !<br />
</p>
<p>
Puisque tu m’as choisie entre toutes les femmes<br />
Pour être le dégoût de mon triste mari,<br />
Et que je ne puis pas rejeter dans les flammes,<br />
Comme un billet d’amour, ce monstre rabougri,<br />
</p>
<p>
Je ferai rejaillir ta haine qui m’accable<br />
Sur l’instrument maudit de tes méchancetés,<br />
Et je tordrai si bien cet arbre misérable,<br />
Qu’il ne pourra pousser ses boutons empestés ! »<br />
</p>
<p>
Elle ravale ainsi l’écume de sa haine,<br />
Et, ne comprenant pas les desseins éternels,<br />
Elle-même prépare au fond de la Géhenne<br />
Les bûchers consacrés aux crimes maternels.<br />
</p>
<p>
Pourtant, sous la tutelle invisible d’un Ange,<br />
L’Enfant déshérité s’enivre de soleil,<br />
Et dans tout ce qu’il boit et dans tout ce qu’il mange<br />
Retrouve l’ambroisie et le nectar vermeil.<br />
</p>
<p>
Il joue avec le vent, cause avec le nuage<br />
Et s’enivre en chantant du chemin de la croix ;<br />
Et l’Esprit qui le suit dans son pèlerinage<br />
Pleure de le voir gai comme un oiseau des bois.<br />
</p>
<p>
Tous ceux qu’il veut aimer l’observent avec crainte,<br />
Ou bien, s’enhardissant de sa tranquillité,<br />
Cherchent à qui saura lui tirer une plainte,<br />
Et font sur lui l’essai de leur férocité.<br />
</p>
<p>
Dans le pain et le vin destinés à sa bouche<br />
Ils mêlent de la cendre avec d’impurs crachats ;<br />
Avec hypocrisie ils jettent ce qu’il touche,<br />
Et s’accusent d’avoir mis leurs pieds dans ses pas.<br />
</p>
<p>
Sa femme va criant sur les places publiques :<br />
« — Puisqu’il me trouve assez belle pour m’adorer,<br />
Je ferai le métier des idoles antiques,<br />
Et comme elles je veux me faire redorer ;<br />
</p>
<p>
Et je me soûlerai de nard, d’encens, de myrrhe,<br />
De génuflexions, de viandes et de vins,<br />
Pour savoir si je puis dans un cœur qui m’admire<br />
Usurper en riant les hommages divins !<br />
</p>
<p>
Et, quand je m’ennuîrai de ces farces impies,<br />
Je poserai sur lui ma frêle et forte main ;<br />
Et mes ongles, pareils aux ongles des harpies,<br />
Sauront jusqu’à son cœur se frayer un chemin.<br />
</p>
<p>
Comme un tout jeune oiseau qui tremble et qui palpite,<br />
J’arracherai ce cœur tout rouge de son sein,<br />
Et, pour rassasier ma bête favorite,<br />
Je le lui jetterai par terre avec dédain ! »<br />
</p>
<p>
Vers le Ciel, où son œil voit un trône splendide,<br />
Le Poëte serein lève ses bras pieux,<br />
Et les vastes éclairs de son esprit lucide<br />
Lui dérobent l’aspect des peuples furieux :<br />
</p>
<p>
« — Soyez béni, mon Dieu, qui donnez la souffrance<br />
Comme un divin remède à nos impuretés<br />
Et comme la meilleure et la plus pure essence<br />
Qui prépare les forts aux saintes voluptés !<br />
</p>
<p>
Je sais que vous gardez une place au Poëte<br />
Dans les rangs bienheureux des saintes Légions,<br />
Et que vous l’invitez à l’éternelle fête<br />
Des Trônes, des Vertus, des Dominations.<br />
</p>
<p>
Je sais que la douleur est la noblesse unique<br />
Où ne mordront jamais la terre et les enfers,<br />
Et qu’il faut pour tresser ma couronne mystique<br />
Imposer tous les temps et tous les univers.<br />
</p>
<p>
Mais les bijoux perdus de l’antique Palmyre,<br />
Les métaux inconnus, les perles de la mer,<br />
Par votre main montés, ne pourraient pas suffire<br />
À ce beau diadème éblouissant et clair ;<br />
</p>
<p>
Car il ne sera fait que de pure lumière,<br />
Puisée au foyer saint des rayons primitifs,<br />
Et dont les yeux mortels, dans leur splendeur entière,<br />
Ne sont que des miroirs obscurcis et plaintifs !<br />
</p>

{{ end }}
