{{ define "main" }}

<p>
Je m’en allais, les poings dans mes poches crevées ;<br />
Mon paletot aussi devenait idéal ;<br />
J’allais sous le ciel, Muse ! et j’étais ton féal ;<br />
Oh ! là là ! que d’amours splendides j’ai rêvées !<br />
</p>

<p>
Mon unique culotte avait un large trou.<br />
— Petit Poucet rêveur, j’égrenais dans ma course<br />
Des rimes. Mon auberge était à la Grande-Ourse ;<br />
— Mes étoiles au ciel avaient un doux frou-frou.<br />
</p>

<p>
Et je les écoutais, assis au bord des routes,<br />
Ces bons soirs de septembre où je sentais des gouttes<br />
De rosée à mon front, comme un vin de vigueur ;<br />
</p>

<p>
Où, rimant au milieu des ombres fantastiques,<br />
Comme des lyres, je tirais les élastiques<br />
De mes souliers blessés, un pied près de mon cœur !<br />
</p>

{{ end }}
