{{ define "main" }}

<p style="text-align:center;">
Il dit non avec la tête<br />
Mais il dit oui avec le cœur<br />
Il dit oui à ce qu'il aime<br />
Il dit non au professeur<br />
Il est debout<br />
On le questionne<br />
Et tous les problèmes sont posés<br />
Soudain le fou rire le prend<br />
Et il efface tout<br />
Les chiffres et les mots<br />
Les dates et les noms<br />
Les phrases et les pièges<br />
Et malgré les menaces du maître<br />
Sous les huées des enfants prodiges<br />
Avec des craies de toutes les couleurs<br />
Sur le tableau noir du malheur<br />
Il dessine le visage du bonheur.<br />
</p>

{{ end }}
