{{ define "main" }}

<p>
O Captain! My Captain! our fearful trip is done;<br />
The ship has weather'd every rack, the prize we sought is won;<br />
The port is near, the bells I hear, the people all exulting,<br />
While follow eyes the steady keel, the vessel grim and daring:<br />
</p>

<p>
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
But O heart! heart! heart!<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxx</span>
</span>
O the bleeding drops of red,<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxx</span>
</span>
Where on the deck my Captain lies,<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxxxx</span>
</span>
Fallen cold and dead.<br />
</p>

<p>
O Captain! My Captain! rise up and hear the bells;<br />
Rise up—for you the flag is flung—for you the bugle trills;<br />
For you bouquets and ribbon'd wreaths—for you the shores a-crowding;<br />
For you they call, the swaying mass, their eager faces turning;<br />
</p>

<p>
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
Here captain! dear father!<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxx</span>
</span>
This arm beneath your head;<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxx</span>
</span>
It is some dream that on the deck,<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxxxx</span>
</span>
You've fallen cold and dead.<br />
</p>

<p>
My Captain does not answer, his lips are pale and still;<br />
My father does not feel my arm, he has no pulse nor will;<br />
The ship is anchor'd safe and sound, its voyage closed and done;<br />
From fearful trip, the victor ship, comes in with object won;<br />
</p>

<p>
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
Exult, O shores, and ring, O bells!<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxx</span>
</span>
But I, with mournful tread,<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxx</span>
</span>
Walk the deck my captain lies,<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxxxx</span>
</span>
Fallen cold and dead.<br />
</p>

{{ end }}
