{{ define "main" }}

<p>
Cet amour<br />
Si violent<br />
Si fragile<br />
Si tendre<br />
Si désespéré<br />
Cet amour<br />
Beau comme le jour<br />
Et mauvais comme le temps<br />
Quand le temps est mauvais<br />
Cet amour si vrai<br />
Cet amour si beau<br />
Si heureux<br />
Si joyeux<br />
Et si dérisoire<br />
Tremblant de peur comme un enfant dans le noir<br />
Et si sûr de lui<br />
Comme un homme tranquille au milieu de la nuit<br />
Cet amour qui faisait peur aux autres<br />
Qui les faisait parler<br />
Qui les faisait blêmir<br />
Cet amour guetté<br />
Parce que nous le guettions<br />
Traqué blessé piétiné achevé nié oublié<br />
Parce que nous l’avons traqué blessé piétiné achevé nié oublié<br />
Cet amour tout entier<br />
Si vivant encore<br />
Et tout ensoleillé<br />
C’est le tien<br />
C’est le mien<br />
Celui qui a été<br />
Cette chose toujours nouvelle<br />
Et qui n’a pas changé<br />
Aussi vrai qu’une plante<br />
Aussi tremblante qu’un oiseau<br />
Aussi chaude aussi vivant que l’été<br />
Nous pouvons tous les deux<br />
Aller et revenir<br />
Nous pouvons oublier<br />
Et puis nous rendormir<br />
Nous réveiller souffrir vieillir<br />
Nous endormir encore<br />
Rêver à la mort,<br />
Nous éveiller sourire et rire<br />
Et rajeunir<br />
Notre amour reste là<br />
Têtu comme une bourrique<br />
Vivant comme le désir<br />
Cruel comme la mémoire<br />
Bête comme les regrets<br />
Tendre comme le souvenir<br />
Froid comme le marbre<br />
Beau comme le jour<br />
Fragile comme un enfant<br />
Il nous regarde en souriant<br />
Et il nous parle sans rien dire<br />
Et moi je l’écoute en tremblant<br />
Et je crie<br />
Je crie pour toi<br />
Je crie pour moi<br />
Je te supplie<br />
Pour toi pour moi et pour tous ceux qui s’aiment<br />
Et qui se sont aimés<br />
Oui je lui crie<br />
Pour toi pour moi et pour tous les autres<br />
Que je ne connais pas<br />
Reste là<br />
Lá où tu es<br />
Lá où tu étais autrefois<br />
Reste là<br />
Ne bouge pas<br />
Ne t’en va pas<br />
Nous qui nous sommes aimés<br />
Nous t’avons oublié<br />
Toi ne nous oublie pas<br />
Nous n’avions que toi sur la terre<br />
Ne nous laisse pas devenir froids<br />
Beaucoup plus loin toujours<br />
Et n’importe où<br />
Donne-nous signe de vie<br />
Beaucoup plus tard au coin d’un bois<br />
Dans la forêt de la mémoire<br />
Surgis soudain<br />
Tends-nous la main<br />
Et sauve-nous.<br />
</p>

{{ end }}
