{{ define "main" }}

<p>
Quand le front de l’enfant, plein de rouges tourmentes,<br />
Implore l’essaim blanc des rêves indistincts,<br />
Il vient près de son lit deux grandes sœurs charmantes<br />
Avec de frêles doigts aux ongles argentins.<br />
</p>

<p>
Elles assoient l’enfant devant une croisée<br />
Grande ouverte où l’air bleu baigne un fouillis de fleurs,<br />
Et dans ses lourds cheveux où tombe la rosée<br />
Promènent leurs doigts fins, terribles et charmeurs.<br />
</p>

<p>
Il écoute chanter leurs haleines craintives<br />
Qui fleurent de longs miels végétaux et rosés,<br />
Et qu’interrompt parfois un sifflement, salives<br />
Reprises sur la lèvre ou désirs de baisers.<br />
</p>

<p>
Il entend leurs cils noirs battant sous les silences<br />
Parfumés ; et leurs doigts électriques et doux<br />
Font crépiter parmi ses grises indolences<br />
Sous leurs ongles royaux la mort des petits poux.<br />
</p>

<p>
Voilà que monte en lui le vin de la Paresse,<br />
Soupir d’harmonica qui pourrait délirer ;<br />
L’enfant se sent, selon la lenteur des caresses,<br />
Sourdre et mourir sans cesse un désir de pleurer.<br />
</p>

{{ end }}
