{{ define "main" }}

<p>
Ô toison, moutonnant jusque sur l’encolure !<br />
Ô boucles ! Ô parfum chargé de nonchaloir !<br />
Extase ! Pour peupler ce soir l’alcôve obscure<br />
Des souvenirs dormant dans cette chevelure,<br />
Je la veux agiter dans l’air comme un mouchoir !<br />
</p>

<p>
La langoureuse Asie et la brûlante Afrique,<br />
Tout un monde lointain, absent, presque défunt,<br />
Vit dans tes profondeurs, forêt aromatique !<br />
Comme d’autres esprits voguent sur la musique,<br />
Le mien, ô mon amour ! nage sur ton parfum.<br />
</p>

<p>
J’irai là-bas où l’arbre et l’homme, pleins de sève,<br />
Se pâment longuement sous l’ardeur des climats ;<br />
Fortes tresses, soyez la houle qui m’enlève !<br />
Tu contiens, mer d’ébène, un éblouissant rêve<br />
De voiles, de rameurs, de flammes et de mâts :<br />
</p>

<p>
Un port retentissant où mon âme peut boire<br />
À grands flots le parfum, le son et la couleur ;<br />
Où les vaisseaux, glissant dans l’or et dans la moire,<br />
Ouvrent leurs vastes bras pour embrasser la gloire<br />
D’un ciel pur où frémit l’éternelle chaleur.<br />
</p>

<p>
Je plongerai ma tête amoureuse d’ivresse<br />
Dans ce noir océan où l’autre est enfermé ;<br />
Et mon esprit subtil que le roulis caresse<br />
Saura vous retrouver, ô féconde paresse,<br />
Infinis bercements du loisir embaumé !<br />
</p>

<p>
Cheveux bleus, pavillon de ténèbres tendues,<br />
Vous me rendez l’azur du ciel immense et rond ;<br />
Sur les bords duvetés de vos mèches tordues<br />
Je m’enivre ardemment des senteurs confondues<br />
De l’huile de coco, du musc et du goudron.<br />
</p>

<p>
Longtemps ! toujours ! ma main dans ta crinière lourde<br />
Sèmera le rubis, la perle et le saphir,<br />
Afin qu’à mon désir tu ne sois jamais sourde !<br />
N’es-tu pas l’oasis où je rêve, et la gourde<br />
Où je hume à longs traits le vin du souvenir ?<br />
</p>

{{ end }}
