{{ define "main" }}

<p>
Souvent, à la clarté rouge d’un réverbère<br />
Dont le vent bat la flamme et tourmente le verre,<br />
Au cœur d’un vieux faubourg, labyrinthe fangeux<br />
Où l’humanité grouille en ferments orageux,<br />
</p>

<p>
On voit un chiffonnier qui vient, hochant la tête,<br />
Buttant, et se cognant aux murs comme un poëte,<br />
Et, sans prendre souci des mouchards, ses sujets,<br />
Épanche tout son cœur en glorieux projets.<br />
</p>

<p>
Il prête des serments, dicte des lois sublimes,<br />
Terrasse les méchants, relève les victimes,<br />
Et sous le firmament comme un dais suspendu<br />
S’enivre des splendeurs de sa propre vertu.<br />
</p>

<p>
Oui, ces gens harcelés de chagrins de ménage,<br />
Moulus par le travail et tourmentés par l’âge,<br />
Éreintés et pliant sous un tas de débris,<br />
Vomissement confus de l’énorme Paris,<br />
</p>

<p>
Reviennent, parfumés d’une odeur de futailles,<br />
Suivis de compagnons, blanchis dans les batailles,<br />
Dont la moustache pend comme les vieux drapeaux.<br />
Les bannières, les fleurs et les arcs triomphaux<br />
</p>

<p>
Se dressent devant eux, solennelle magie !<br />
Et dans l’étourdissante et lumineuse orgie<br />
Des clairons, du soleil, des cris et du tambour,<br />
Ils apportent la gloire au peuple ivre d’amour !<br />
</p>

<p>
C’est ainsi qu’à travers l’Humanité frivole<br />
Le vin roule de l’or, éblouissant Pactole ;<br />
Par le gosier de l’homme il chante ses exploits<br />
Et règne par ses dons ainsi que les vrais rois.<br />
</p>

<p>
Pour noyer la rancœur et bercer l’indolence<br />
De tous ces vieux maudits qui meurent en silence,<br />
Dieu, touché de remords, avait fait le sommeil ;<br />
L’Homme ajouta le Vin, fils sacré du Soleil !<br />
</p>

{{ end }}
