{{ define "main" }}

<p>
Quand le ciel bas et lourd pèse comme un couvercle<br />
Sur l’esprit gémissant en proie aux longs ennuis,<br />
Et que de l’horizon embrassant tout le cercle<br />
Il nous verse un jour noir plus triste que les nuits ;<br />
</p>

<p>
Quand la terre est changée en un cachot humide,<br />
Où l’Espérance, comme une chauve-souris,<br />
S’en va battant les murs de son aile timide<br />
Et se cognant la tête à des plafonds pourris ;<br />
</p>

<p>
Quand la pluie étalant ses immenses traînées<br />
D’une vaste prison imite les barreaux,<br />
Et qu’un peuple muet d’infâmes araignées<br />
Vient tendre ses filets au fond de nos cerveaux,<br />
</p>

<p>
Des cloches tout à coup sautent avec furie<br />
Et lancent vers le ciel un affreux hurlement,<br />
Ainsi que des esprits errants et sans patrie<br />
Qui se mettent à geindre opiniâtrement.<br />
</p>

<p>
— Et de longs corbillards, sans tambours ni musique,<br />
Défilent lentement dans mon âme ; l’Espoir,<br />
Vaincu, pleure, et l’Angoisse atroce, despotique,<br />
Sur mon crâne incliné plante son drapeau noir.<br />
</p>

{{ end }}
