{{ define "main" }}

<p>
Comme un vol de gerfauts hors du charnier natal,<br />
Fatigués de porter leurs misères hautaines,<br />
De Palos de Moguer, routiers et capitaines<br />
Partaient, ivres d’un rêve héroïque et brutal.<br />
</p>

<p>
Ils allaient conquérir le fabuleux métal<br />
Que Cipango mûrit dans ses mines lointaines,<br />
Et les vents alizés inclinaient leurs antennes<br />
Aux bords mystérieux du monde Occidental.<br />
</p>

<p>
Chaque soir, espérant des lendemains épiques,<br />
L’azur phosphorescent de la mer des Tropiques<br />
Enchantait leur sommeil d’un mirage doré ;<br />
</p>

<p>
Ou penchés à l’avant des blanches caravelles,<br />
Ils regardaient monter en un ciel ignoré<br />
Du fond de l’Océan des étoiles nouvelles.<br />
</p>

{{ end }}
