{{ define "main" }}

<p>
La courbe de tes yeux fait le tour de mon cœur,<br />
Un rond de danse et de douceur,<br />
Auréole du temps, berceau nocturne et sûr,<br />
Et si je ne sais plus tout ce que j’ai vécu<br />
C’est que tes yeux ne m’ont pas toujours vu.<br />
</p>

<p>
Feuilles de jour et mousse de rosée,<br />
Roseaux du vent, sourires parfumés,<br />
Ailes couvrant le monde de lumière,<br />
Bateaux chargés du ciel et de la mer,<br />
Chasseurs des bruits et sources des couleurs,<br />
</p>

<p>
Parfums éclos d’une couvée d’aurores<br />
Qui gît toujours sur la paille des astres,<br />
Comme le jour dépend de l’innocence<br />
Le monde entier dépend de tes yeux purs<br />
Et tout mon sang coule dans leurs regards.<br />
<p>

{{ end }}
