{{ define "main" }}

<p>
Adieu tristesse,<br />
Bonjour tristesse.<br />
Tu es inscrite dans les lignes du plafond.<br />
Tu es inscrite dans les yeux que j'aime<br />
Tu n'es pas tout à fait la misère,<br />
Car les lèvres les plus pauvres te dénoncent<br />
Par un sourire.<br />
</p>

<p>
Bonjour tristesse.<br />
Amour des corps aimables.<br />
Puissance de l'amour<br />
Dont l'amabilité surgit<br />
Comme un monstre sans corps.<br />
Tête désappointée.<br />
Tristesse, beau visage.<br />
<p>

{{ end }}
