{{ define "main" }}

<p>
Que ce soit dimanche ou lundi<br />
Soir ou matin minuit midi<br />
Dans l'enfer ou le paradis<br />
Les amours aux amours ressemblent<br />
C'était hier que je t'ai dit<br />
Nous dormirons ensemble<br />
</p>

<p>
C'était hier et c'est demain<br />
Je n'ai plus que toi de chemin<br />
J'ai mis mon cœur entre tes mains<br />
Avec le tien comme il va l'amble<br />
Tout ce qu'il a de temps humain<br />
Nous dormirons ensemble<br />
</p>

<p>
Mon amour ce qui fut sera<br />
Le ciel est sur nous comme un drap<br />
J'ai refermé sur toi mes bras<br />
Et tant je t'aime que j'en tremble<br />
Aussi longtemps que tu voudras<br />
Nous dormirons ensemble.<br />
</p>

{{ end }}
