{{ define "main" }}

<p>
Au-dessus des étangs, au-dessus des vallées,<br />
Des montagnes, des bois, des nuages, des mers,<br />
Par delà le soleil, par delà les éthers,<br />
Par delà les confins des sphères étoilées,<br />
</p>

<p>
Mon esprit, tu te meus avec agilité,<br />
Et, comme un bon nageur qui se pâme dans l’onde,<br />
Tu sillonnes gaîment l’immensité profonde<br />
Avec une indicible et mâle volupté.<br />
</p>

<p>
Envole-toi bien loin de ces miasmes morbides<br />
Va te purifier dans l’air supérieur,<br />
Et bois, comme une pure et divine liqueur,<br />
Le feu clair qui remplit les espaces limpides.<br />
</p>

<p>
Derrière les ennuis et les vastes chagrins<br />
Qui chargent de leur poids l’existence brumeuse,<br />
Heureux celui qui peut d’une aile vigoureuse<br />
S’élancer vers les champs lumineux et sereins !<br />
</p>

<p>
Celui dont les pensers, comme des alouettes,<br />
Vers les cieux le matin prennent un libre essor,<br />
— Qui plane sur la vie et comprend sans effort<br />
Le langage des fleurs et des choses muettes !<br />
</p>

{{ end }}
