{{ define "main" }}

<p>
Ma jeunesse ne fut qu’un ténébreux orage,<br />
Traversé çà et là par de brillants soleils ;<br />
Le tonnerre et la pluie ont fait un tel ravage,<br />
Qu’il reste en mon jardin bien peu de fruits vermeils.<br />
</p>

<p>
Voilà que j’ai touché l’automne des idées,<br />
Et qu’il faut employer la pelle et les râteaux<br />
Pour rassembler à neuf les terres inondées,<br />
Où l’eau creuse des trous grands comme des tombeaux.<br />
</p>

<p>
Et qui sait si les fleurs nouvelles que je rêve<br />
Trouveront dans ce sol lavé comme une grève<br />
Le mystique aliment qui ferait leur vigueur ?<br />
</p>

<p>
— Ô douleur ! ô douleur ! Le Temps mange la vie,<br />
Et l’obscur Ennemi qui nous ronge le cœur<br />
Du sang que nous perdons croît et se fortifie !<br />
</p>

{{ end }}
