{{ define "main" }}

<p style="text-align:center;">
A l'enterrement d'une feuille morte<br />
Deux escargots s'en vont<br />
Ils ont la coquille noire<br />
Du crêpe autour des cornes<br />
Ils s'en vont dans le soir<br />
Un très beau soir d'automne<br />
Hélas quand ils arrivent<br />
C'est déjà le printemps<br />
Les feuilles qui étaient mortes<br />
Sont toutes réssucitées<br />
Et les deux escargots<br />
Sont très désappointés<br />
Mais voila le soleil<br />
Le soleil qui leur dit<br />
Prenez prenez la peine<br />
La peine de vous asseoir<br />
Prenez un verre de bière<br />
Si le coeur vous en dit<br />
Prenez si ça vous plaît<br />
L'autocar pour Paris<br />
Il partira ce soir<br />
Vous verrez du pays<br />
Mais ne prenez pas le deuil<br />
C'est moi qui vous le dit<br />
Ça noircit le blanc de l'oeil<br />
Et puis ça enlaidit<br />
Les histoires de cercueils<br />
C'est triste et pas joli<br />
Reprenez vous couleurs<br />
Les couleurs de la vie<br />
Alors toutes les bêtes<br />
Les arbres et les plantes<br />
Se mettent a chanter<br />
A chanter a tue-tête<br />
La vrai chanson vivante<br />
La chanson de l'été<br />
Et tout le monde de boire<br />
Tout le monde de trinquer<br />
C'est un très joli soir<br />
Un joli soir d'été<br />
Et les deux escargots<br />
S'en retournent chez eux<br />
Ils s'en vont très émus<br />
Ils s'en vont très heureux<br />
Comme ils ont beaucoup bu<br />
Ils titubent un p'tit peu<br />
Mais la haut dans le ciel<br />
La lune veille sur eux.<br />
</p>

{{ end }}
