{{ define "main" }}

<p>
Je ne vous aime pas, non, je n'aime personne,<br />
L'Art, le Spleen, la Douleur sont mes seules amours;<br />
Puis, mon cœur est trop vieux pour fleurir comme aux jours<br />
Où vous eussiez été mon unique madone.<br />
</p>

<p>
Je ne vous aime pas, mais vous semblez si bonne.<br />
Je pourrais oublier dans vos yeux de velours,<br />
Et dégonfler mon cœur crevé de sanglots sourds<br />
Le front sur vos genoux, enfant frêle et mignonne.<br />
</p>

<p>
Oh! dites, voulez-vous ? Je serais votre enfant.<br />
Vous sauriez endormir mes tristesses sans causes,<br />
Vous auriez des douceurs pour mes heures moroses,<br />
</p>

<p>
Et peut-être qu'à l'heure où viendrait le néant<br />
Baigner mon corps brisé de fraîcheur infinie,<br />
Je mourrais doucement, consolé de la vie.<br />
</p>

{{ end }}
