{{ define "main" }}

<p>
Il est un air pour qui je donnerais<br />
Tout Rossini, tout Mozart, tout Weber ;<br />
Un air très-vieux, languissant et funèbre,<br />
Qui pour moi seul a des charmes secrets.<br />
</p>

<p>
Or, chaque fois que je viens à l’entendre,<br />
De deux cents ans mon âme rajeunit :<br />
C’est sous Louis treize.. et je crois voir s’étendre<br />
Un coteau vert que le couchant jaunit,<br />
</p>

<p>
Puis un château de brique à coins de pierre,<br />
Aux vitraux teints de rougeâtres couleurs,<br />
Ceint de grands parcs, avec une rivière<br />
Baignant ses pieds, qui coule entre les fleurs.<br />
</p>

<p>
Puis une dame à sa haute fenêtre,<br />
Blonde, aux yeux noirs, en ses habits anciens…<br />
Que, dans une autre existence, peut-être,<br />
J’ai déjà vue ! — et dont je me souviens !<br />
</p>

{{ end }}
