{{ define "main" }}

<p>
À vous ces vers, de par la grâce consolante<br />
De vos grands yeux où rit et pleure un rêve doux,<br />
De par votre âme, pure et toute bonne, à vous<br />
Ces vers du fond de ma détresse violente.<br />
</p>

<p>
C’est qu’hélas ! le hideux cauchemar qui me hante<br />
N’a pas de trêve et va furieux, fou, jaloux,<br />
Se multipliant comme un cortège de loups<br />
Et se pendant après mon sort qu’il ensanglante.<br />
</p>

<p>
Oh ! je souffre, je souffre affreusement, si bien<br />
Que le gémissement premier du premier homme<br />
Chassé d’Éden n’est qu’une églogue au prix du mien !<br />
</p>

<p>
Et les soucis que vous pouvez avoir sont comme<br />
Des hirondelles sur un ciel d’après-midi,<br />
— Chère, — par un beau jour de septembre attiédi.<br />
</p>

{{ end }}
