{{ define "main" }}

<p>
Si vous croyez que je vais dire<br />
<span style="visibility:hidden;">
<span style="color: transparent;">xxxx</span>
</span>
Qui j’ose aimer,<br />
Je ne saurais, pour un empire,<br />
<span style="visibility:hidden;">
<span style="color: transparent;">xxxx</span>
</span>
Vous la nommer.<br />
</p>

<p>
Nous allons chanter à la ronde,<br />
<span style="visibility:hidden;">
<span style="color: transparent;">xxxx</span>
</span>
Si vous voulez,<br />
Que je l’adore et qu’elle est blonde<br />
<span style="visibility:hidden;">
<span style="color: transparent;">xxxx</span>
</span>
Comme les blés.<br />
</p>

<p>
Je fais ce que sa fantaisie<br />
<span style="visibility:hidden;">
<span style="color: transparent;">xxxx</span>
</span>
Veut m’ordonner,<br />
Et je puis, s’il lui faut ma vie,<br />
<span style="visibility:hidden;">
<span style="color: transparent;">xxxx</span>
</span>
La lui donner.<br />
</p>

<p>
Du mal qu’une amour ignorée<br />
<span style="visibility:hidden;">
<span style="color: transparent;">xxxx</span>
</span>
Nous fait souffrir,<br />
J’en porte l’âme déchirée<br />
<span style="visibility:hidden;">
<span style="color: transparent;">xxxx</span>
</span>
Jusqu’à mourir.<br />
</p>

<p>
Mais j’aime trop pour que je die<br />
<span style="visibility:hidden;">
<span style="color: transparent;">xxxx</span>
</span>
Qui j’ose aimer,<br />
Et je veux mourir pour ma mie<br />
<span style="visibility:hidden;">
<span style="color: transparent;">xxxx</span>
</span>
Sans la nommer.<br />
</p>

{{ end }}
