{{ define "main" }}

<p>
Je suis venu, calme orphelin,<br />
Riche de mes seuls yeux tranquilles,<br />
Vers les hommes des grandes villes :<br />
Ils ne m’ont pas trouvé malin.<br />
</p>

<p>
À vingt ans un trouble nouveau<br />
Sous le nom d’amoureuses flammes<br />
M’a fait trouver belles les femmes :<br />
Elles ne m’ont pas trouvé beau.<br />
</p>

<p>
Bien que sans patrie et sans roi<br />
Et très brave ne l’étant guère,<br />
J’ai voulu mourir à la guerre :<br />
La mort n’a pas voulu de moi.<br />
</p>

<p>
Suis-je né trop tôt ou trop tard ?<br />
Qu’est-ce que je fais en ce monde ?<br />
Ô vous tous, ma peine est profonde :<br />
Priez pour le pauvre Gaspard !<br />
</p>

{{ end }}
