{{ define "main" }}

<p>
Du temps que la Nature en sa verve puissante<br />
Concevait chaque jour des enfants monstrueux,<br />
J’eusse aimé vivre auprès d’une jeune géante,<br />
Comme aux pieds d’une reine un chat voluptueux.<br />
</p>

<p>
J’eusse aimé voir son corps fleurir avec son âme<br />
Et grandir librement dans ses terribles jeux ;<br />
Deviner si son cœur couve une sombre flamme<br />
Aux humides brouillards qui nagent dans ses yeux ;<br />
</p>

<p>
Parcourir à loisir ses magnifiques formes ;<br />
Ramper sur le versant de ses genoux énormes,<br />
Et parfois en été, quand les soleils malsains,<br />
</p>

<p>
Lasse, la font s’étendre à travers la campagne,<br />
Dormir nonchalamment à l’ombre de ses seins,<br />
Comme un hameau paisible au pied d’une montagne.<br />
</p>

{{ end }}
