{{ define "main" }}

<p>
Voici des fruits, des fleurs, des feuilles et des branches,<br />
Et puis voici mon cœur, qui ne bat que pour vous.<br />
Ne le déchirez pas avec vos deux mains blanches<br />
Et qu’à vos yeux si beaux l’humble présent soit doux.<br />
</p>

<p>
J’arrive tout couvert encore de rosée<br />
Que le vent du matin vient glacer à mon front.<br />
Souffrez que ma fatigue, à vos pieds reposée,<br />
Rêve des chers instants qui la délasseront.<br />
</p>

<p>
Sur votre jeune sein laissez rouler ma tête<br />
Toute sonore encore de vos derniers baisers ;<br />
Laissez-la s’apaiser de la bonne tempête,<br />
Et que je dorme un peu puisque vous reposez.<br />
</p>

{{ end }}
