{{ define "main" }}

<p>
Pour soulever un poids si lourd,<br />
Sisyphe, il faudrait ton courage !<br />
Bien qu’on ait du cœur à l’ouvrage,<br />
L’Art est long et le Temps est court.<br />
</p>

<p>
Loin des sépultures célèbres,<br />
Vers un cimetière isolé,<br />
Mon cœur, comme un tambour voilé,<br />
Va battant des marches funèbres.<br />
</p>

<p>
— Maint joyau dort enseveli<br />
Dans les ténèbres et l’oubli,<br />
Bien loin des pioches et des sondes ;<br />
</p>

<p>
Mainte fleur épanche à regret<br />
Son parfum doux comme un secret<br />
Dans les solitudes profondes.<br />
</p>

{{ end }}
