{{ define "main" }}

<p>
Heureux qui, comme Ulysse, a fait un beau voyage,<br />
Ou comme cestuy là qui conquit la toison,<br />
Et puis est retourné, plein d’usage et raison,<br />
Vivre entre ses parents le reste de son age !<br />
</p>

<p>
Quand reverray-je, helas, de mon petit village<br />
Fumer la cheminee, et en quelle saison<br />
Reverray-je le clos de ma pauvre maison,<br />
Qui m’est une province, et beaucoup d’avantage ?<br />
</p>

<p>
Plus me plaist le sejour qu’ont basty mes ayeux,<br />
Que des palais Romains le front audacieux ;<br />
Plus que le marbre dur me plaist l’ardoise fine,<br />
</p>

<p>
Plus mon Loyre Gaulois, que le Tibre Latin,<br />
Plus mon petit Lyré, que le mont Palatin,<br />
Et plus que l’air marin la douceur Angevine.<br />
</p>

{{ end }}
