{{ define "main" }}

<p>
Hirondelle qui vient de la nue orageuse,<br />
Hirondelle fidèle, où vas-tu ? Dis-le-moi.<br />
Quelle brise t’emporte, errante, voyageuse ?<br />
Écoute, je voudrais m’en aller avec toi.<br />
</p>

<p>
Bien loin, bien loin d’ici, vers d’immenses rivages,<br />
Vers de grands rochers nus, des grèves, des déserts,<br />
Dans l’inconnu muet, ou bien vers d’autres âges,<br />
Vers les astres errants qui roulent dans les airs.<br />
</p>

<p>
Hirondelle aux yeux noirs, hirondelle je t’aime !<br />
Je ne sais quel écho par toi m’est apporté<br />
Des rivages lointains ; pour vivre, loi suprême,<br />
Il me faut, comme toi, l’air et la liberté.<br />
</p>

{{ end }}
