{{ define "main" }}

<p>
Homme libre, toujours tu chériras la mer !<br />
La mer est ton miroir ; tu contemples ton âme<br />
Dans le déroulement infini de sa lame,<br />
Et ton esprit n’est pas un gouffre moins amer.<br />
</p>

<p>
Tu te plais à plonger au sein de ton image ;<br />
Tu l’embrasses des yeux et des bras, et ton cœur<br />
Se distrait quelquefois de sa propre rumeur<br />
Au bruit de cette plainte indomptable et sauvage.<br />
</p>

<p>
Vous êtes tous les deux ténébreux et discrets :<br />
Homme, nul n’a sondé le fond de tes abîmes ;<br />
Ô mer, nul ne connaît tes richesses intimes,<br />
Tant vous êtes jaloux de garder vos secrets !<br />
</p>

<p>
Et cependant voilà des siècles innombrables<br />
Que vous vous combattez sans pitié ni remord,<br />
Tellement vous aimez le carnage et la mort,<br />
Ô lutteurs éternels, ô frères implacables !<br />
</p>

{{ end }}
