{{ define "main" }}

<p>
Ce ne seront jamais ces beautés de vignettes,<br />
Produits avariés, nés d’un siècle vaurien,<br />
Ces pieds à brodequins, ces doigts à castagnettes,<br />
Qui sauront satisfaire un cœur comme le mien.<br />
</p>

<p>
Je laisse à Gavarni, poëte des chloroses,<br />
Son troupeau gazouillant de beautés d’hôpital,<br />
Car je ne puis trouver parmi ces pâles roses<br />
Une fleur qui ressemble à mon rouge idéal.<br />
</p>

<p>
Ce qu’il faut à ce cœur profond comme un abîme,<br />
C’est vous, Lady Macbeth, âme puissante au crime,<br />
Rêve d’Eschyle éclos au climat des autans ;<br />
</p>

<p>
Ou bien toi, grande Nuit, fille de Michel-Ange,<br />
Qui tors paisiblement dans une pose étrange<br />
Tes appas façonnés aux bouches des Titans !<br />
</p>

{{ end }}
