{{ define "main" }}

<p>
Dans l’interminable<br />
Ennui de la plaine<br />
La neige incertaine<br />
Luit comme du sable.<br />
</p>

<p>
Le ciel est de cuivre<br />
Sans lueur aucune<br />
On croirait voir vivre<br />
Et mourir la lune.<br />
</p>

<p>
Comme des nuées<br />
Flottent gris les chênes<br />
Des forêts prochaines<br />
Parmi les buées.<br />
</p>

<p>
Le ciel est de cuivre<br />
Sans lueur aucune<br />
On croirait voir vivre<br />
Et mourir la lune.<br />
</p>

<p>
Corneille poussive<br />
Et vous, les loups maigres,<br />
Par ces bises aigres<br />
Quoi donc vous arrive ?<br />
</p>

<p>
Dans l’interminable<br />
Ennui de la plaine<br />
La neige incertaine<br />
Luit comme du sable.<br />
</p>

{{ end }}
