{{ define "main" }}

<p>
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
Mon enfant, ma sœur,<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
Songe à la douceur<br />
D’aller là-bas vivre ensemble !<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
Aimer à loisir,<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
Aimer et mourir<br />
Au pays qui te ressemble !<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
Les soleils mouillés<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
De ces ciels brouillés<br />
Pour mon esprit ont les charmes<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
Si mystérieux<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
De tes traîtres yeux,<br />
Brillant à travers leurs larmes.<br />
</p>

<p>
Là, tout n’est qu’ordre et beauté,<br />
Luxe, calme et volupté.<br />
</p>

<p>
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
Des meubles luisants,<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
Polis par les ans,<br />
Décoreraient notre chambre ;<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
Les plus rares fleurs<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
Mêlant leurs odeurs<br />
Aux vagues senteurs de l’ambre,<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
Les riches plafonds,<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
Les miroirs profonds,<br />
La splendeur orientale,<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
Tout y parlerait<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
À l’âme en secret<br />
Sa douce langue natale.<br />
</p>

<p>
Là, tout n’est qu’ordre et beauté,<br />
Luxe, calme et volupté.<br />
</p>

<p>
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
Vois sur ces canaux<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
Dormir ces vaisseaux<br />
Dont l’humeur est vagabonde ;<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
C’est pour assouvir<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
Ton moindre désir<br />
Qu’ils viennent du bout du monde.<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
— Les soleils couchants<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
Revêtent les champs,<br />
Les canaux, la ville entière,<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
D’hyacinthe et d’or ;<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xx</span>
</span>
Le monde s’endort<br />
Dans une chaude lumière.<br />
</p>

<p>
Là, tout n’est qu’ordre et beauté,<br />
Luxe, calme et volupté.<br />
</p>

{{ end }}
