{{ define "main" }}

<p>
Souvent sur la montagne, à l’ombre du vieux chêne,<br />
Au coucher du soleil, tristement je m’assieds ;<br />
Je promène au hasard mes regards sur la plaine,<br />
Dont le tableau changeant se déroule à mes pieds.<br />
</p>

<p>
Ici gronde le fleuve aux vagues écumantes ;<br />
Il serpente, et s’enfonce en un lointain obscur ;<br />
Là le lac immobile étend ses eaux dormantes<br />
Où l’étoile du soir se lève dans l’azur.<br />
</p>

<p>
Au sommet de ces monts couronnés de bois sombres,<br />
Le crépuscule encor jette un dernier rayon ;<br />
Et le char vaporeux de la reine des ombres<br />
Monte, et blanchit déjà les bords de l’horizon.<br />
</p>

<p>
Cependant, s’élançant de la flèche gothique,<br />
Un son religieux se répand dans les airs ;<br />
Le voyageur s’arrête, et la cloche rustique<br />
Aux derniers bruits du jour mêle de saints concerts.<br />
</p>

<p>
Mais à ces doux tableaux mon âme indifférente<br />
N’éprouve devant eux ni charme ni transports ;<br />
Je contemple la terre ainsi qu’une ombre errante :<br />
Le soleil des vivants n’échauffe plus les morts.<br />
</p>

<p>
De colline en colline en vain portant ma vue,<br />
Du sud à l’aquilon, de l’aurore au couchant,<br />
Je parcours tous les points de l’immense étendue,<br />
Et je dis : Nulle part le bonheur ne m’attend.<br />
</p>

<p>
Que me font ces vallons, ces palais, ces chaumières,<br />
Vains objets dont pour moi le charme est envolé ?<br />
Fleuves, rochers, forêts, solitudes si chères,<br />
Un seul être vous manque, et tout est dépeuplé !<br />
</p>

<p>
Que le tour du soleil ou commence ou s’achève,<br />
D’un œil indifférent je le suis dans son cours ;<br />
En un ciel sombre ou pur qu’il se couche ou se lève,<br />
Qu’importe le soleil ? je n’attends rien des jours.<br />
</p>

<p>
Quand je pourrais le suivre en sa vaste carrière,<br />
Mes yeux verraient partout le vide et les déserts :<br />
Je ne désire rien de tout ce qu’il éclaire ;<br />
Je ne demande rien à l’immense univers.<br />
</p>

<p>
Mais peut-être au-delà des bornes de sa sphère,<br />
Lieux où le vrai soleil éclaire d’autres cieux,<br />
Si je pouvais laisser ma dépouille à la terre,<br />
Ce que j’ai tant rêvé paraîtrait à mes yeux.<br />
</p>

<p>
Là, je m’enivrerais à la source où j’aspire ;<br />
Là, je retrouverais et l’espoir et l’amour,<br />
Et ce bien idéal que toute âme désire,<br />
Et qui n’a pas de nom au terrestre séjour.<br />
</p>

<p>
Que ne puis-je, porté sur le char de l’Aurore,<br />
Vague objet de mes vœux, m’élancer jusqu’à toi !<br />
Sur la terre d’exil pourquoi resté-je encore ?<br />
Il n’est rien de commun entre la terre et moi.<br />
</p>

<p>
Quand la feuille des bois tombe dans la prairie,<br />
Le vent du soir s’élève et l’arrache aux vallons ;<br />
Et moi, je suis semblable à la feuille flétrie :<br />
Emportez-moi comme elle, orageux aquilons !<br />
</p>

{{ end }}
