{{ define "main" }}

<p style="text-align:center;">
Je suis comme je suis<br />
Je suis faite comme ça<br />
Quand j’ai envie de rire<br />
Oui je ris aux éclats<br />
J’aime celui qui m’aime<br />
Est-ce ma faute à moi<br />
Si ce n’est pas le même<br />
Que j’aime chaque fois<br />
Je suis comme je suis<br />
Je suis faite comme ça<br />
Que voulez-vous de plus<br />
Que voulez-vous de moi<br />
</p>
<p style="text-align:center;">
Je suis faite pour plaire<br />
Et n’y puis rien changer<br />
Mes talons sont trop hauts<br />
Ma taille trop cambrée<br />
Mes seins beaucoup trop durs<br />
Et mes yeux trop cernés<br />
Et puis après<br />
Qu’est-ce que ça peut vous faire<br />
Je suis comme je suis<br />
Je plais à qui je plais<br />
Qu’est-ce que ça peut vous faire<br />
Ce qui m’est arrivé<br />
Oui j’ai aimé quelqu’un<br />
Oui quelqu’un m’a aimée<br />
Comme les enfants qui s’aiment<br />
Simplement savent aimer<br />
Aimer aimer…<br />
Pourquoi me questionner<br />
Je suis là pour vous plaire<br />
Et n’y puis rien changer.<br />
</p>

{{ end }}
