{{ define "main" }}

<p>
Ainsi, toujours poussés vers de nouveaux rivages,<br />
Dans la nuit éternelle emporté sans retour,<br />
Ne pourrons-nous jamais sur l’océan des âges<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxxx</span>
</span>
Jeter l’ancre un seul jour ?<br />
</p>

<p>
O lac ! l’année à peine a fini sa carrière,<br />
Et près des flots chéris qu’elle devait revoir,<br />
Regarde ! je viens seul m’asseoir sur cette pierre<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxxx</span>
</span>
Où tu la vis s’asseoir !<br />
</p>

<p>
Tu mugissais ainsi sous ces roches profondes ;<br />
Ainsi tu te brisais sur leurs flancs déchirés ;<br />
Ainsi le vent jetait l’écume de tes ondes<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxxx</span>
</span>
Sur ses pieds adorés.<br />
</p>

<p>
Un soir, t’en souvient-il ? nous voguions en silence ;<br />
On n’entendait au loin, sur l’onde et sous les cieux,<br />
Que le bruit des rameurs qui frappaient en cadence<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxxx</span>
</span>
Tes flots harmonieux.<br />
</p>

<p>
Tout à coup des accents inconnus à la terre<br />
Du rivage charmé frappèrent les échos :<br />
Le flot plus attentif, et la voix qui m’est chère<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxxx</span>
</span>
Laissa tomber ces mots :<br />
</p>

<p>
« Ô temps, suspends ton vol ! et vous, heures propices,<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxxx</span>
</span>
» Suspendez votre cours !<br />
» Laissez-nous savourer les rapides délices<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxxx</span>
</span>
» Des plus beaux de nos jours !<br />
</p>

<p>
» Assez de malheureux ici-bas vous implorent,<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxxx</span>
</span>
» Coulez, coulez pour eux ;<br />
» Prenez avec leurs jours les soins qui les dévorent ;<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxxx</span>
</span>
» Oubliez les heureux.<br />
</p>

<p>
» Mais je demande en vain quelques moments encore,<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxxx</span>
</span>
» Le temps m’échappe et fuit ;<br />
» Je dis à cette nuit : Sois plus lente ; et l’aurore<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxxx</span>
</span>
» Va dissiper la nuit.<br />
</p>

<p>
» Aimons donc, aimons donc ! de l’heure fugitive,<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxxx</span>
</span>
» Hâtons-nous, jouissons !<br />
» L’homme n’a point de port, le temps n’a point de rive ;<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxxx</span>
</span>
» Il coule, et nous passons ! »<br />
</p>

<p>
Temps jaloux, se peut-il que ces moments d’ivresse,<br />
Où l’amour à longs flots nous verse le bonheur,<br />
S’envolent loin de nous de la même vitesse<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxxx</span>
</span>
Que les jours de malheur ?<br />
</p>

<p>
Hé quoi ! n’en pourrons-nous fixer au moins la trace ?<br />
Quoi ! passés pour jamais ? quoi ! tout entiers perdus ?<br />
Ce temps qui les donna, ce temps qui les efface,<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxxx</span>
</span>
Ne nous les rendra plus ?<br />
</p>

<p>
Éternité, néant, passé, sombres abîmes,<br />
Que faites-vous des jours que vous engloutissez ?<br />
Parlez : nous rendrez-vous ces extases sublimes<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxxx</span>
</span>
Que vous nous ravissez ?<br />
</p>

<p>
Ô lacs ! rochers muets ! grottes ! forêt obscure !<br />
Vous que le temps épargne ou qu’il peut rajeunir,<br />
Gardez de cette nuit, gardez, belle nature,<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxxx</span>
</span>
Au moins le souvenir !<br />
</p>

<p>
Qu’il soit dans ton repos, qu’il soit dans tes orages,<br />
Beau lac, et dans l’aspect de tes riants coteaux,<br />
Et dans ces noirs sapins, et dans ces rocs sauvages<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxxx</span>
</span>
Qui pendent sur tes eaux !<br />
</p>

<p>
Qu’il soit dans le zéphyr qui frémit et qui passe,<br />
Dans les bruits de tes bords par tes bords répétés,<br />
Dans l’astre au front d’argent qui blanchit ta surface<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxxx</span>
</span>
De ses molles clartés !<br />
</p>

<p>
Que le vent qui gémit, le roseau qui soupire,<br />
Que les parfums légers de ton air embaumé,<br />
Que tout ce qu’on entend, l’on voit ou l’on respire,<br />
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxxx</span>
</span>
Tout dise : Ils ont aimé !<br />
</p>

{{ end }}
