{{ define "main" }}

<p>
Salut ! bois couronnés d’un reste de verdure !<br />
Feuillages jaunissants sur les gazons épars !<br />
Salut, derniers beaux jours; Le deuil de la nature<br />
Convient à la douleur et plaît à mes regards.<br />
</p>

<p>
Je suis d’un pas rêveur le sentier solitaire ;<br />
J’aime à revoir encor, pour la dernière fois,<br />
Ce soleil pâlissant, dont la faible lumière<br />
Perce à peine à mes pieds l’obscurité des bois.<br />
</p>

<p>
Oui, dans ces jours d’automne où la nature expire,<br />
À ses regards voilés je trouve plus d’attraits :<br />
C’est l’adieu d’un ami, c’est le dernier sourire<br />
Des lèvres que la mort va fermer pour jamais.<br />
</p>

<p>
Ainsi, prêt à quitter l’horizon de la vie,<br />
Pleurant de mes longs jours l’espoir évanoui,<br />
Je me retourne encore, et d’un regard d’envie<br />
Je contemple ses biens dont je n’ai pas joui.<br />
</p>

<p>
Terre, soleil, vallons, belle et douce nature,<br />
Je vous dois une larme aux bords de mon tombeau !<br />
L’air est si parfumé ! la lumière est si pure !<br />
Aux regards d’un mourant le soleil est si beau !<br />
</p>

<p>
Je voudrais maintenant vider jusqu’à la lie<br />
Ce calice mêlé de nectar et de fiel :<br />
Au fond de cette coupe où je buvais la vie,<br />
Peut-être restait-il une goutte de miel !<br />
</p>

<p>
Peut-être l’avenir me gardait-il encore<br />
Un retour de bonheur dont l’espoir est perdu !<br />
Peut-être dans la foule une âme que j’ignore<br />
Aurait compris mon âme, et m’aurait répondu !…<br />
</p>

<p>
La fleur tombe en livrant ses parfums au zéphyre ;<br />
À la vie, au soleil, ce sont là ses adieux ;<br />
Moi, je meurs ; et mon âme, au moment qu’elle expire,<br />
S’exhale comme un son triste et mélodieux.<br />
</p>

{{ end }}
