{{ define "main" }}

<p>
La sottise, l’erreur, le péché, la lésine,<br />
Occupent nos esprits et travaillent nos corps,<br />
Et nous alimentons nos aimables remords,<br />
Comme les mendiants nourrissent leur vermine.<br />
</p>

<p>
Nos péchés sont têtus, nos repentirs sont lâches ;<br />
Nous nous faisons payer grassement nos aveux,<br />
Et nous rentrons gaîment dans le chemin bourbeux,<br />
Croyant par de vils pleurs laver toutes nos taches.<br />
</p>

<p>
Sur l’oreiller du mal c’est Satan Trismégiste<br />
Qui berce longuement notre esprit enchanté,<br />
Et le riche métal de notre volonté<br />
Est tout vaporisé par ce savant chimiste.<br />
</p>

<p>
C’est le Diable qui tient les fils qui nous remuent !<br />
Aux objets répugnants nous trouvons des appas ;<br />
Chaque jour vers l’Enfer nous descendons d’un pas,<br />
Sans horreur, à travers des ténèbres qui puent.<br />
</p>

<p>
Ainsi qu’un débauché pauvre qui baise et mange<br />
Le sein martyrisé d’une antique catin,<br />
Nous volons au passage un plaisir clandestin<br />
Que nous pressons bien fort comme une vieille orange.<br />
</p>

<p>
Serré, fourmillant, comme un million d’helminthes,<br />
Dans nos cerveaux ribote un peuple de Démons,<br />
Et, quand nous respirons, la Mort dans nos poumons<br />
Descend, fleuve invisible, avec de sourdes plaintes.<br />
</p>

<p>
Si le viol, le poison, le poignard, l’incendie,<br />
N’ont pas encor brodé de leurs plaisants dessins<br />
Le canevas banal de nos piteux destins,<br />
C’est que notre âme, hélas ! n’est pas assez hardie.<br />
</p>

<p>
Mais parmi les chacals, les panthères, les lices,<br />
Les singes, les scorpions, les vautours, les serpents,<br />
Les monstres glapissants, hurlants, grognants, rampants,<br />
Dans la ménagerie infâme de nos vices,<br />
</p>

<p>
Il en est un plus laid, plus méchant, plus immonde !<br />
Quoiqu’il ne pousse ni grands gestes ni grands cris,<br />
Il ferait volontiers de la terre un débris<br />
Et dans un bâillement avalerait le monde ;<br />
</p>

<p>
C’est l’Ennui ! — L’œil chargé d’un pleur involontaire,<br />
Il rêve d’échafauds en fumant son houka.<br />
Tu le connais, lecteur, ce monstre délicat,<br />
— Hypocrite lecteur, — mon semblable, — mon frère !<br />
</p>

{{ end }}
