{{ define "main" }}

<p>
Viens sur mon cœur, âme cruelle et sourde,<br />
Tigre adoré, monstre aux airs indolents ;<br />
Je veux longtemps plonger mes doigts tremblants<br />
Dans l’épaisseur de ta crinière lourde ;<br />
</p>

<p>
Dans tes jupons remplis de ton parfum<br />
Ensevelir ma tête endolorie,<br />
Et respirer, comme une fleur flétrie,<br />
Le doux relent de mon amour défunt.<br />
</p>

<p>
Je veux dormir ! dormir plutôt que vivre !<br />
Dans un sommeil aussi doux que la mort,<br />
J’étalerai mes baisers sans remord<br />
Sur ton beau corps poli comme le cuivre.<br />
</p>

<p>
Pour engloutir mes sanglots apaisés<br />
Rien ne me vaut l’abîme de ta couche ;<br />
L’oubli puissant habite sur ta bouche,<br />
Et le Léthé coule dans tes baisers.<br />
</p>

<p>
À mon destin, désormais mon délice,<br />
J’obéirai comme un prédestiné ;<br />
Martyr docile, innocent condamné,<br />
Dont la ferveur attise le supplice,<br />
</p>

<p>
Je sucerai, pour noyer ma rancœur,<br />
Le népenthès et la bonne ciguë<br />
Aux bouts charmants de cette gorge aiguë,<br />
Qui n’a jamais emprisonné de cœur.<br />
</p>

{{ end }}
