{{ define "main" }}

<p>
Elle a passé, la jeune fille<br />
Vive et preste comme un oiseau :<br />
À la main une fleur qui brille,<br />
À la bouche un refrain nouveau.<br />
</p>

<p>
C’est peut-être la seule au monde<br />
Dont le cœur au mien répondrait,<br />
Qui venant dans ma nuit profonde<br />
D’un seul regard l’éclaircirait !<br />
</p>

<p>
Mais non, — ma jeunesse est finie…<br />
Adieu, doux rayon qui m'as lui, ―<br />
Parfum, jeune fille, harmonie…<br />
Le bonheur passait, ― il a fui !<br />
</p>

{{ end }}
