{{ define "main" }}

<p>
Oui, femme, quoi qu'on puisse dire<br />
Vous avez le fatal pouvoir<br />
De nous jeter par un sourire<br />
Dans l'ivresse ou le désespoir.<br />
</p>

<p>
Oui, deux mots, le silence même,<br />
Un regard distrait ou moqueur,<br />
Peuvent donner à qui vous aime<br />
Un coup de poignard dans le coeur.<br />
</p>

<p>
Oui, votre orgueil doit être immense,<br />
Car, grâce à notre lâcheté,<br />
Rien n'égale votre puissance,<br />
Sinon, votre fragilité.<br />
</p>

<p>
Mais toute puissance sur terre<br />
Meurt quand l'abus en est trop grand,<br />
Et qui sait souffrir et se taire<br />
S'éloigne de vous en pleurant.<br />
</p>

<p>
Quel que soit le mal qu'il endure,<br />
Son triste sort est le plus beau.<br />
J'aime encore mieux notre torture<br />
Que votre métier de bourreau. <br />
</p>

{{ end }}
