{{ define "main" }}

<p>
Contemplons ce trésor de grâces florentines ;<br />
Dans l’ondulation de ce corps musculeux<br />
L’Élégance et la Force abondent, sœurs divines.<br />
Cette femme, morceau vraiment miraculeux,<br />
Divinement robuste, adorablement mince,<br />
Est faite pour trôner sur des lits somptueux,<br />
Et charmer les loisirs d’un pontife ou d’un prince.<br />
</p>

<p>
— Aussi, vois ce souris fin et voluptueux<br />
Où la Fatuité promène son extase ;<br />
Ce long regard sournois, langoureux et moqueur ;<br />
Ce visage mignard, tout encadré de gaze,<br />
Dont chaque trait nous dit avec un air vainqueur :<br />
</p>

<p>
« La Volupté m’appelle et l’Amour me couronne ! »<br />
À cet être doué de tant de majesté<br />
Vois quel charme excitant la gentillesse donne !<br />
Approchons, et tournons autour de sa beauté.<br />
</p>

<p>
O blasphème de l’art ! ô surprise fatale !<br />
La femme au corps divin, promettant le bonheur,<br />
Par le haut se termine en monstre bicéphale !<br />
</p>

<p>
Mais non ! Ce n’est qu’un masque, un décor suborneur,<br />
Ce visage éclairé d’une exquise grimace,<br />
Et, regarde, voici, crispée atrocement,<br />
La véritable tête, et la sincère face<br />
Renversée à l’abri de la face qui ment.<br />
— Pauvre grande beauté ! le magnifique fleuve<br />
De tes pleurs aboutit dans mon cœur soucieux ;<br />
Ton mensonge m’enivre, et mon âme s’abreuve<br />
Aux flots que la Douleur fait jaillir de tes yeux !<br />
</p>

<p>
— Mais pourquoi pleure-t-elle ? Elle, beauté parfaite<br />
Qui mettrait à ses pieds le genre humain vaincu,<br />
Quel mal mystérieux ronge son flanc d’athlète ?<br />
</p>

<p>
— Elle pleure, insensé, parce qu’elle a vécu !<br />
Et parce qu’elle vit ! Mais ce qu’elle déplore<br />
Surtout, ce qui la fait frémir jusqu’aux genoux,<br />
C’est que demain, hélas ! il faudra vivre encore !<br />
Demain, après-demain et toujours ! — comme nous !<br />
</p>

{{ end }}
