{{ define "main" }}

<p>
C’est la Mort qui console, hélas ! et qui fait vivre ;<br />
C’est le but de la vie, et c’est le seul espoir<br />
Qui, comme un élixir, nous monte et nous enivre,<br />
Et nous donne le cœur de marcher jusqu’au soir ;<br />
</p>

<p>
À travers la tempête, et la neige, et le givre,<br />
C’est la clarté vibrante à notre horizon noir ;<br />
C’est l’auberge fameuse inscrite sur le livre,<br />
Où l’on pourra manger, et dormir, et s’asseoir ;<br />
</p>

<p>
C’est un Ange qui tient dans ses doigts magnétiques<br />
Le sommeil et le don des rêves extatiques,<br />
Et qui refait le lit des gens pauvres et nus ;<br />
</p>

<p>
C’est la gloire des Dieux, c’est le grenier mystique,<br />
C’est la bourse du pauvre et sa patrie antique,<br />
C’est le portique ouvert sur les Cieux inconnus !<br />
</p>

{{ end }}
