{{ define "main" }}

<p>
Ô Muse de mon cœur, amante des palais,<br />
Auras-tu, quand Janvier lâchera ses Borées,<br />
Durant les noirs ennuis des neigeuses soirées,<br />
Un tison pour chauffer tes deux pieds violets ?<br />
</p>

<p>
Ranimeras-tu donc tes épaules marbrées<br />
Aux nocturnes rayons qui percent les volets ?<br />
Sentant ta bourse à sec autant que ton palais,<br />
Récolteras-tu l’or des voûtes azurées ?<br />
</p>

<p>
Il te faut, pour gagner ton pain de chaque soir,<br />
Comme un enfant de chœur, jouer de l’encensoir,<br />
Chanter des Te Deum auxquels tu ne crois guère,<br />
</p>

<p>
Ou, saltimbanque à jeun, étaler tes appas<br />
Et ton rire trempé de pleurs qu’on ne voit pas,<br />
Pour faire épanouir la rate du vulgaire.<br />
</p>

{{ end }}
