{{ define "main" }}

<p>
Avec tout votre esprit, la belle indifférente,<br />
Avec tous vos grands airs de rigueur nonchalante,<br />
Qui nous font tant de mal et qui vous vont si bien,<br />
Il n'en est pas moins vrai que vous n'y pouvez rien.<br />
</p>

<p>
Il n'en est pas moins vrai que, sans qu'il y paraisse,<br />
Vous êtes mon idole et ma seule maîtresse ;<br />
Qu'on n'en aime pas moins pour devoir se cacher,<br />
Et que vous ne pouvez, Ninon, m'en empêcher.<br />
</p>

<p>
Il n'en est pas moins vrai qu'en dépit de vous-même,<br />
Quand vous dites un mot vous sentez qu'on vous aime,<br />
Que, malgré vos mépris, on n'en veut pas guérir,<br />
Et que d'amour de vous, il est doux de souffrir.<br />
</p>

<p>
Il n'en est pas moins vrai que, sitôt qu'on vous touche,<br />
Vous avez beau nous fuir, sensitive farouche,<br />
On emporte de vous des éclairs de beauté,<br />
Et que le tourment même est une volupté.<br />
</p>

<p>
Soyez bonne ou maligne, orgueilleuse ou coquette,<br />
Vous avez beau railler et mépriser l'amour,<br />
Et, comme un diamant qui change de facette,<br />
Sous mille aspects divers vous montrer tour à tour ;<br />
</p>

<p>
Il n'en est pas moins vrai que je vous remercie,<br />
Que je me trouve heureux, que je vous appartiens,<br />
Et que, si vous voulez du reste de ma vie,<br />
Le mal qui vient de vous vaut mieux que tous les biens.<br />
</p>

<p>
Je vous dirai quelqu'un qui sait que je vous aime :<br />
C'est ma Muse, Ninon ; nous avons nos secrets.<br />
Ma Muse vous ressemble, ou plutôt, c'est vous-même ;<br />
Pour que je l'aime encor elle vient sous vos traits.<br />
</p>

<p>
La nuit, je vois dans l'ombre une pâle auréole,<br />
Où flottent doucement les contours d'un beau front ;<br />
Un rêve m'apparaît qui passe et qui s'envole ;<br />
Les heureux sont les fous : les poètes le sont.<br />
</p>

<p>
J'entoure de mes bras une forme légère ;<br />
J'écoute à mon chevet murmurer une voix ;<br />
Un bel ange aux yeux noirs sourit à ma misère ;<br />
Je regarde le ciel, Ninon, et je vous vois ;<br />
</p>

<p>
Ô mon unique amour, cette douleur chérie,<br />
Ne me l'arrachez pas quand j'en devrais mourir !<br />
Je me tais devant vous ; - quel mal fait ma folie ?<br />
Ne me plaignez jamais et laissez-moi souffrir.<br />
</p>

{{ end }}
