{{ define "main" }}

<p>
Si je vous le disais pourtant, que je vous aime,<br />
Qui sait, brune aux yeux bleus, ce que vous en diriez ?<br />
L’amour, vous le savez, cause une peine extrême ;<br />
C’est un mal sans pitié que vous plaignez vous-même ;<br />
Peut-être cependant que vous m’en puniriez.<br />
</p>

<p>
Si je vous le disais, que six mois de silence<br />
Cachent de longs tourments et des vœux insensés :<br />
Ninon, vous êtes fine, et votre insouciance<br />
Se plaît, comme une fée, à deviner d’avance ;<br />
Vous me répondriez peut-être : Je le sais.<br />
</p>

<p>
Si je vous le disais, qu’une douce folie<br />
A fait de moi votre ombre, et m’attache à vos pas :<br />
Un petit air de doute et de mélancolie,<br />
Vous le savez, Ninon, vous rend bien plus jolie;<br />
Peut-être diriez-vous que vous n’y croyez pas.<br />
</p>

<p>
Si je vous le disais, que j’emporte dans l’âme<br />
Jusques aux moindres mots de nos propos du soir :<br />
Un regard offensé, vous le savez, madame,<br />
Change deux yeux d’azur  en deux éclairs de flamme ;<br />
Vous me défendriez peut-être de vous voir.<br />
</p>

<p>
Si je vous le disais, que chaque nuit je veille,<br />
Que chaque jour je pleure et je prie à genoux ;<br />
Ninon,  quand vous riez, vous savez qu’une abeille<br />
Prendrait pour une fleur votre bouche vermeille ;<br />
Si je vous le disais, peut-être en ririez-vous.<br />
</p>

<p>
Mais vous n’en saurez rien. Je viens, sans rien en dire,<br />
M’asseoir sous votre lampe et causer avec vous ;<br />
Votre voix, je l’entends ; votre air, je le respire ;<br />
Et vous pouvez douter, deviner et sourire,<br />
Vos yeux ne verront pas de quoi m’être moins doux.<br />
</p>

<p>
Je récolte en secret des fleurs mystérieuses :<br />
Le soir, derrière vous, j’écoute au piano<br />
Chanter sur le clavier vos mains harmonieuses,<br />
Et, dans les tourbillons de nos valses joyeuses,<br />
Je vous sens, dans mes bras, plier comme un roseau.<br />
</p>

<p>
La nuit, quand de si loin  le monde nous sépare,<br />
Quand je rentre chez moi pour tirer mes verrous,<br />
De mille souvenirs en jaloux je m’empare ;<br />
Et là, seul devant Dieu, plein d’une joie avare,<br />
J’ouvre, comme un trésor, mon cœur tout plein de vous.<br />
</p>

<p>
J’aime, et je sais répondre avec indifférence ;<br />
J’aime, et rien ne le dit ; j’aime, et seul je le sais ;<br />
Et mon secret m’est cher, et chère ma souffrance ;<br />
Et j’ai fait le serment d’aimer sans espérance,<br />
Mais non pas sans bonheur ; je vous vois, c’est assez.<br />
</p>

<p>
Non, je n’étais pas né pour ce bonheur suprême,<br />
De mourir dans vos bras et de vivre à vos pieds.<br />
Tout me le prouve, hélas ! jusqu’à ma douleur même...<br />
Si je vous le disais pourtant, que je vous aime,<br />
Qui sait, brune aux yeux bleus, ce que vous en diriez ?<br />
</p>

{{ end }}
