{{ define "main" }}

<p>
La rue assourdissante autour de moi hurlait.<br />
Longue, mince, en grand deuil, douleur majestueuse,<br />
Une femme passa, d’une main fastueuse<br />
Soulevant, balançant le feston et l’ourlet ;<br />
</p>

<p>
Agile et noble, avec sa jambe de statue.<br />
Moi, je buvais, crispé comme un extravagant,<br />
Dans son œil, ciel livide où germe l’ouragan,<br />
La douceur qui fascine et le plaisir qui tue.<br />
</p>

<p>
Un éclair… puis la nuit ! — Fugitive beauté<br />
Dont le regard m’a fait soudainement renaître,<br />
Ne te verrai-je plus que dans l’éternité ?<br />
</p>

<p>
Ailleurs, bien loin d’ici ! trop tard ! jamais peut-être !<br />
Car j’ignore où tu fuis, tu ne sais où je vais,<br />
Ô toi que j’eusse aimée, ô toi qui le savais !<br />
</p>

{{ end }}
