{{ define "main" }}

<p style="text-align:center;">
Notre Père qui êtes aux cieux<br />
Restez-y<br />
Et nous nous resterons sur la terre<br />
Qui est quelquefois si jolie<br />
Avec ses mystères de New York<br />
Et puis ses mystères de Paris<br />
Qui valent bien celui de la trinité<br />
Avec son petit canal de l'Ourcq<br />
Sa grande muraille de Chine<br />
Sa rivière de Morlaix<br />
Ses bêtises de Cambrai<br />
Avec son Océan Pacifique<br />
Et ses deux bassins aux Tuileries<br />
Avec ses bons enfants et ses mauvais sujets<br />
Avec toutes les merveilles du monde<br />
Qui sont là<br />
Simplement sur la terre<br />
Offertes à tout le monde<br />
Éparpillées<br />
Émerveillées elles-même d'être de telles merveilles<br />
Et qui n'osent se l'avouer<br />
Comme une jolie fille nue qui n'ose se montrer<br />
Avec les épouvantables malheurs du monde<br />
Qui sont légion<br />
Avec leurs légionnaires<br />
Aves leur tortionnaires<br />
Avec les maîtres de ce monde<br />
Les maîtres avec leurs prêtres leurs traîtres et leurs reîtres<br />
Avec les saisons<br />
Avec les années<br />
Avec les jolies filles et avec les vieux cons<br />
Avec la paille de la misère pourrissant dans l'acier des canons.<br />
</p>

{{ end }}
