{{ define "main" }}

<p>
Je veux, pour composer chastement mes églogues,<br />
Coucher auprès du ciel, comme les astrologues,<br />
Et, voisin des clochers, écouter en rêvant<br />
Leurs hymnes solennels emportés par le vent.<br />
Les deux mains au menton, du haut de ma mansarde,<br />
Je verrai l’atelier qui chante et qui bavarde ;<br />
Les tuyaux, les clochers, ces mâts de la cité,<br />
Et les grands ciels qui font rêver d’éternité.<br />
</p>

<p/>
Il est doux, à travers les brumes, de voir naître<br />
L’étoile dans l’azur, la lampe à la fenêtre,<br />
Les fleuves de charbon monter au firmament<br />
Et la lune verser son pâle enchantement.<br />
Je verrai les printemps, les étés, les automnes ;<br />
Et quand viendra l’hiver aux neiges monotones,<br />
Je fermerai partout portières et volets<br />
Pour bâtir dans la nuit mes féeriques palais.<br />
Alors je rêverai des horizons bleuâtres,<br />
Des jardins, des jets d’eau pleurant dans les albâtres,<br />
Des baisers, des oiseaux chantant soir et matin,<br />
Et tout ce que l’Idylle a de plus enfantin.<br />
L’Émeute, tempêtant vainement à ma vitre,<br />
Ne fera pas lever mon front de mon pupitre ;<br />
Car je serai plongé dans cette volupté<br />
D’évoquer le Printemps avec ma volonté,<br />
De tirer un soleil de mon cœur, et de faire<br />
De mes pensers brûlants une tiède atmosphère.<br />
</p>

{{ end }}
