{{ define "main" }}

<p>
Il pleure dans mon cœur<br />
Comme il pleut sur la ville,<br />
Quelle est cette langueur<br />
Qui pénètre mon cœur ?<br />
</p>

<p>
Ô bruit doux de la pluie<br />
Par terre et sur les toits !<br />
Pour un cœur qui s'ennuie,<br />
Ô le chant de la pluie !<br />
</p>

<p>
Il pleure sans raison<br />
Dans ce cœur qui s'écœure.<br />
Quoi ! nulle trahison ?<br />
Ce deuil est sans raison.<br />
</p>

<p>
C’est bien la pire peine<br />
De ne savoir pourquoi,<br />
Sans amour et sans haine,<br />
Mon cœur a tant de peine !<br />
</p>

{{ end }}
