{{ define "main" }}

<p>
Pluviôse, irrité contre la ville entière,<br />
De son urne à grands flots verse un froid ténébreux<br />
Aux pâles habitants du voisin cimetière<br />
Et la mortalité sur les faubourgs brumeux.<br />
</p>

<p>
Mon chat sur le carreau cherchant une litière<br />
Agite sans repos son corps maigre et galeux ;<br />
L’âme d’un vieux poëte erre dans la gouttière<br />
Avec la triste voix d’un fantôme frileux.<br />
</p>

<p>
Le bourdon se lamente, et la bûche enfumée<br />
Accompagne en fausset la pendule enrhumée,<br />
Cependant qu’en un jeu plein de sales parfums,<br />
</p>

<p>
Héritage fatal d’une vieille hydropique,<br />
Le beau valet de cœur et la dame de pique<br />
Causent sinistrement de leurs amours défunts.<br />
</p>

{{ end }}
