{{ define "main" }}

<p>
Je suis comme le roi d’un pays pluvieux,<br />
Riche, mais impuissant, jeune et pourtant très-vieux,<br />
Qui, de ses précepteurs méprisant les courbettes,<br />
S’ennuie avec ses chiens comme avec d’autres bêtes.<br />
Rien ne peut l’égayer, ni gibier, ni faucon,<br />
Ni son peuple mourant en face du balcon.<br />
Du bouffon favori la grotesque ballade<br />
Ne distrait plus le front de ce cruel malade ;<br />
Son lit fleurdelisé se transforme en tombeau,<br />
Et les dames d’atour, pour qui tout prince est beau,<br />
Ne savent plus trouver d’impudique toilette<br />
Pour tirer un souris de ce jeune squelette.<br />
Le savant qui lui fait de l’or n’a jamais pu<br />
De son être extirper l’élément corrompu,<br />
Et dans ces bains de sang qui des Romains nous viennent,<br />
Et dont sur leurs vieux jours les puissants se souviennent,<br />
Il n’a su réchauffer ce cadavre hébété<br />
Où coule au lieu de sang l’eau verte du Léthé.<br />
</p>

{{ end }}
