{{ define "main" }}

<p>
On n’est pas sérieux, quand on a dix-sept ans.<br />
— Un beau soir, foin des bocks et de la limonade,<br />
Des cafés tapageurs aux lustres éclatants !<br />
— On va sous les tilleuls verts de la promenade.<br />
</p>

<p>
Les tilleuls sentent bon dans les bons soirs de juin !<br />
L’air est parfois si doux, qu’on ferme la paupière ;<br />
Le vent chargé de bruits, — la ville n’est pas loin, —<br />
A des parfums de vigne et des parfums de bière…<br />
</p>

<div style="margin: 10px 0; text-indent:200px;">II</div>

<p>
— Voilà qu’on aperçoit un tout petit chiffon<br />
D’azur sombre, encadré d’une petite branche,<br />
Piqué d’une mauvaise étoile, qui se fond<br />
Avec de doux frissons, petite et toute blanche…<br />
</p>

<p>
Nuit de juin ! Dix-sept ans ! — On se laisse griser.<br />
La sève est du champagne et vous monte à la tête…<br />
On divague ; on se sent aux lèvres un baiser<br />
Qui palpite là, comme une petite bête…<br />
</p>

<div style="margin: 10px 0; text-indent:200px;">III</div>

<p>
Le cœur fou Robinsonne à travers les romans,<br />
— Lorsque, dans la clarté d’un pâle réverbère,<br />
Passe une demoiselle aux petits airs charmants,<br />
Sous l’ombre du faux-col effrayant de son père…<br />
</p>

<p>
Et, comme elle vous trouve immensément naïf,<br />
Tout en faisant trotter ses petites bottines,<br />
Elle se tourne, alerte et d’un mouvement vif…<br />
— Sur vos lèvres alors meurent les cavatines…<br />
</p>

<div style="margin: 10px 0; text-indent:200px;">IV</div>

<p>
Vous êtes amoureux. Loué jusqu’au mois d’août.<br />
Vous êtes amoureux. — Vos sonnets la font rire.<br />
Tous vos amis s’en vont, vous êtes mauvais goût.<br />
— Puis l’adorée, un soir, a daigné vous écrire… !<br />
</p>

<p>
— Ce soir-là,… — vous rentrez aux cafés éclatants,<br />
Vous demandez des bocks ou de la limonade…<br />
— On n’est pas sérieux, quand on a dix-sept ans<br />
Et qu’on a des tilleuls verts sur la promenade.<br />
</p>

{{ end }}
