{{ define "main" }}

<p style="text-indent: 30px">
« Jadis, si je me souviens bien, ma vie était un festin où s’ouvraient
tous les cœurs, où tous les vins coulaient.
</p>

<p style="text-indent: 30px">
Un soir, j’ai assis la Beauté sur mes genoux. — Et je l’ai trouvée
amère. — Et je l’ai injuriée.
</p>

<p style="text-indent: 30px">
Je me suis armé contre la justice.
</p>

<p style="text-indent: 30px">
Je me suis enfui. Ô sorcières, ô misère, ô haine, c’est à vous que mon
trésor a été confié !
</p>

<p style="text-indent: 30px">
Je parvins à faire s’évanouir dans mon esprit toute l’espérance
humaine. Sur toute joie pour l’étrangler j’ai fait le bond sourd de la
bête féroce.
</p>

<p style="text-indent: 30px">
J’ai appelé les bourreaux pour, en périssant, mordre la crosse de
leurs fusils. J’ai appelé les fléaux, pour m’étouffer avec le sable,
le sang. Le malheur a été mon dieu. Je me suis allongé dans la
boue. Je me suis séché à l’air du crime. Et j’ai joué de bons tours à
la folie.
</p>

<p style="text-indent: 30px">
Et le printemps m’a apporté l’affreux rire de l’idiot.
</p>

<p style="text-indent: 30px">
Or, tout dernièrement m’étant trouvé sur le point de faire le dernier
couac ! j’ai songé à rechercher la clef du festin ancien, où je
reprendrais peut-être appétit.
</p>

<p style="text-indent: 30px">
La charité est cette clef. — Cette inspiration prouve que j’ai rêvé !
</p>

<p style="text-indent: 30px">
« Tu resteras hyène, etc…, » se récrie le démon qui me couronna de si
aimables pavots. « Gagne la mort avec tous tes appétits, et ton
égoïsme et tous les péchés capitaux. » Ah ! j’en ai trop pris : —
Mais, cher Satan, je vous en conjure, une prunelle moins irritée ! et
en attendant les quelques petites lâchetés en retard, vous qui aimez
dans l’écrivain l’absence des facultés descriptives ou instructives,
je vous détache ces quelques hideux feuillets de mon carnet de damné.
</p>

{{ end }}
