{{ define "main" }}

<p>
Bizarre déité, brune comme les nuits,<br />
Au parfum mélangé de musc et de havane,<br />
Œuvre de quelque obi, le Faust de la savane,<br />
Sorcière au flanc d’ébène, enfant des noirs minuits,<br />
</p>

<p>
Je préfère au constance, à l’opium, au nuits,<br />
L’élixir de ta bouche où l’amour se pavane ;<br />
Quand vers toi mes désirs partent en caravane,<br />
Tes yeux sont la citerne où boivent mes ennuis.<br />
</p>

<p>
Par ces deux grands yeux noirs, soupiraux de ton âme,<br />
Ô démon sans pitié ! verse-moi moins de flamme ;<br />
Je ne suis pas le Styx pour t’embrasser neuf fois,<br />
</p>

<p>
Hélas ! et je ne puis, Mégère libertine, <br />
Pour briser ton courage et te mettre aux abois,<br />
Dans l’enfer de ton lit devenir Proserpine !<br />
</p>

{{ end }}
