{{ define "main" }}

<p>
Se voir le plus possible et s'aimer seulement,<br />
Sans ruse et sans détours, sans honte ni mensonge,<br />
Sans qu'un désir nous trompe, ou qu'un remords nous ronge,<br />
Vivre à deux et donner son coeur à tout moment ;<br />
</p>

<p>
Respecter sa pensée aussi loin qu'on y plonge,<br />
Faire de son amour un jour au lieu d'un songe,<br />
Et dans cette clarté respirer librement -<br />
Ainsi respirait Laure et chantait son amant.<br />
</p>

<p>
Vous dont chaque pas touche à la grâce suprême,<br />
Cest vous, la tête en fleurs, qu'on croirait sans souci,<br />
C'est vous qui me disiez qu'il faut aimer ainsi.<br />
</p>

<p>
Et c'est moi, vieil enfant du doute et du blasphème,<br />
Qui vous écoute, et pense, et vous réponds ceci :<br />
Oui, l'on vit autrement, mais c'est ainsi qu'on aime.<br />
</p>

{{ end }}
