{{ define "main" }}

<p>
Le soleil, moins ardent, luit clair au ciel moins dense.<br />
Balancés par un vent automnal et berceur,<br />
Les rosiers du jardin s’inclinent en cadence.<br />
L’atmosphère ambiante a des baisers de sœur.<br />
</p>

<p>
La Nature a quitté pour cette fois son trône<br />
De splendeur, d’ironie et de sérénité :<br />
Clémente, elle descend, par l’ampleur de l’air jaune,<br />
Vers l’homme, son sujet pervers et révolté.<br />
</p>

<p>
Du pan de son manteau que l’abîme constelle,<br />
Elle daigne essuyer les moiteurs de nos fronts,<br />
Et son âme éternelle et sa forme immortelle<br />
Donnent calme et vigueur à nos cœurs mous et prompts.<br />
</p>

<p>
Le frais balancement des ramures chenues,<br />
L’horizon élargi plein de vagues chansons,<br />
Tout, jusqu’au vol joyeux des oiseaux et des nues,<br />
Tout, aujourd’hui, console et délivre. - Pensons.<br />
</p>

{{ end }}
