{{ define "main" }}

<p>
Le long du vieux faubourg, où pendent aux masures<br />
Les persiennes, abri des secrètes luxures,<br />
Quand le soleil cruel frappe à traits redoublés<br />
Sur la ville et les champs, sur les toits et les blés,<br />
Je vais m’exercer seul à ma fantasque escrime,<br />
Flairant dans tous les coins les hasards de la rime,<br />
Trébuchant sur les mots comme sur les pavés,<br />
Heurtant parfois des vers depuis longtemps rêvés.<br />
</p>

<p>
Ce père nourricier, ennemi des chloroses,<br />
Éveille dans les champs les vers comme les roses ;<br />
Il fait s’évaporer les soucis vers le ciel,<br />
Et remplit les cerveaux et les ruches de miel.<br />
C’est lui qui rajeunit les porteurs de béquilles<br />
Et les rend gais et doux comme des jeunes filles,<br />
Et commande aux moissons de croître et de mûrir<br />
Dans le cœur immortel qui toujours veut fleurir !<br />
</p>

<p>
Quand, ainsi qu’un poëte, il descend dans les villes,<br />
Il ennoblit le sort des choses les plus viles,<br />
Et s’introduit en roi, sans bruit et sans valets,<br />
Dans tous les hôpitaux et dans tous les palais.<br />
</p>

{{ end }}
