{{ define "main" }}

<p>
Ô triste, triste était mon âme<br />
À cause, à cause d’une femme.<br />
</p>

<p>
Je ne me suis pas consolé<br />
Bien que mon cœur s’en soit allé.<br />
</p>

<p>
Bien que mon cœur, bien que mon âme<br />
Eussent fui loin de cette femme.<br />
</p>

<p>
Je ne me suis pas consolé,<br />
Bien que mon cœur s’en soit allé.<br />
</p>

<p>
Et mon cœur, mon cœur trop sensible<br />
Dit à mon âme : Est-il possible,<br />
</p>

<p>
Est-il possible, — le fût-il, —<br />
Ce fier exil, ce triste exil ?<br />
</p>

<p>
Mon âme dit à mon cœur : Sais-je<br />
Moi-même, que nous veut ce piège<br />
</p>

<p>
D’être présents bien qu’exilés,<br />
Encore que loin en allés ?<br />
</p>

{{ end }}
