{{ define "main" }}

<p>
Ayant poussé la porte étroite qui chancelle,<br />
Je me suis promené dans le petit jardin<br />
Qu’éclairait doucement le soleil du matin,<br />
Pailletant chaque fleur d’une humide étincelle.<br />
</p>

<p>
Rien n’a changé. J’ai tout revu : l’humble tonnelle<br />
De vigne folle avec les chaises de rotin…<br />
Le jet d’eau fait toujours son murmure argentin<br />
Et le vieux tremble sa plainte sempiternelle.<br />
</p>

<p>
Les roses comme avant palpitent ; comme avant,<br />
Les grands lys orgueilleux se balancent au vent.<br />
Chaque alouette qui va et vient m’est connue.<br />
</p>

<p>
Même j’ai retrouvé debout la Velléda,<br />
Dont le plâtre s’écaille au bout de l’avenue.<br />
— Grêle, parmi l’odeur fade du réséda.<br />
</p>

{{ end }}
