{{ define "main" }}

<p>
Le regard singulier d’une femme galante<br />
Qui se glisse vers nous comme le rayon blanc<br />
Que la lune onduleuse envoie au lac tremblant,<br />
Quand elle y veut baigner sa beauté nonchalante ;<br />
</p>

<p>
Le dernier sac d’écus dans les doigts d’un joueur ;<br />
Un baiser libertin de la maigre Adeline ;<br />
Les sons d’une musique énervante et câline,<br />
Semblable au cri lointain de l’humaine douleur,<br />
</p>

<p>
Tout cela ne vaut pas, ô bouteille profonde,<br />
Les baumes pénétrants que ta panse féconde<br />
Garde au cœur altéré du poëte pieux ;<br />
</p>

<p>
Tu lui verses l’espoir, la jeunesse et la vie,<br />
— Et l’orgueil, ce trésor de toute gueuserie,<br />
Qui nous rend triomphants et semblables aux Dieux.<br />
</p>

{{ end }}
