{{ define "main" }}

<p>
Ah ! les oarystis ! les premières maîtresses !<br />
L’or des cheveux, l’azur des yeux, la fleur des chairs,<br />
Et puis, parmi l’odeur des corps jeunes et chers,<br />
La spontanéité craintive des caresses !<br />
</p>

<p>
Sont-elles assez loin toutes ces allégresses<br />
Et toutes ces candeurs ! Hélas ! toutes devers<br />
Le Printemps des regrets ont fui les noirs hivers<br />
De mes ennuis, de mes dégoûts, de mes détresses !<br />
</p>

<p>
Si que me voilà seul à présent, morne et seul,<br />
Morne et désespéré, plus glacé qu’un aïeul,<br />
Et tel qu’un orphelin pauvre sans sœur aînée.<br />
</p>

<p>
Ô la femme à l’amour câlin et réchauffant,<br />
Douce, pensive et brune, et jamais étonnée,<br />
Et qui parfois vous baise au front, comme un enfant<br />
</p>

{{ end }}
