{{ define "main" }}

<p>
Je t’adore à l’égal de la voûte nocturne,<br />
Ô vase de tristesse, ô grande taciturne,<br />
Et t’aime d’autant plus, belle, que tu me fuis,<br />
Et que tu me parais, ornement de mes nuits,<br />
Plus ironiquement accumuler les lieues<br />
Qui séparent mes bras des immensités bleues.<br />
</p>

<p>
Je m’avance à l’attaque, et je grimpe aux assauts,<br />
Comme après un cadavre un chœur de vermisseaux,<br />
Et je chéris, ô bête implacable et cruelle !<br />
Jusqu’à cette froideur par où tu m’es plus belle !<br />
</p>

{{ end }}
