{{ define "main" }}

<div style="margin: 10px 0; text-indent:200px;">I</div>

<p>
Pour l’enfant, amoureux de cartes et d’estampes,<br />
L’univers est égal à son vaste appétit.<br />
Ah ! que le monde est grand à la clarté des lampes !<br />
Aux yeux du souvenir que le monde est petit !<br />
</p>

<p>
Un matin nous partons, le cerveau plein de flamme,<br />
Le cœur gros de rancune et de désirs amers,<br />
Et nous allons, suivant le rhythme de la lame,<br />
Berçant notre infini sur le fini des mers :<br />
</p>

<p>
Les uns, joyeux de fuir une patrie infâme ;<br />
D’autres, l’horreur de leurs berceaux, et quelques-uns,<br />
Astrologues noyés dans les yeux d’une femme,<br />
La Circé tyrannique aux dangereux parfums.<br />
</p>

<p>
Pour n’être pas changés en bêtes, ils s’enivrent<br />
D’espace et de lumière et de cieux embrasés ;<br />
La glace qui les mord, les soleils qui les cuivrent,<br />
Effacent lentement la marque des baisers.<br />
</p>

<p>
Mais les vrais voyageurs sont ceux-là seuls qui partent<br />
Pour partir ; cœurs légers, semblables aux ballons,<br />
De leur fatalité jamais ils ne s’écartent,<br />
Et, sans savoir pourquoi, disent toujours : Allons !<br />
</p>

<p>
Ceux-là dont les désirs ont la forme des nues,<br />
Et qui rêvent, ainsi qu’un conscrit le canon,<br />
De vastes voluptés, changeantes, inconnues,<br />
Et dont l’esprit humain n’a jamais su le nom !<br />
</p>

<div style="margin: 10px 0; text-indent:200px;">II</div>

<p>
Nous imitons, horreur ! la toupie et la boule<br />
Dans leur valse et leurs bonds ; même dans nos sommeils<br />
La Curiosité nous tourmente et nous roule,<br />
Comme un Ange cruel qui fouette des soleils.<br />
</p>

<p>
Singulière fortune où le but se déplace,<br />
Et, n’étant nulle part, peut être n’importe où !<br />
Où l’Homme, dont jamais l’espérance n’est lasse,<br />
Pour trouver le repos court toujours comme un fou !<br />
</p>

<p>
Notre âme est un trois-mâts cherchant son Icarie ;<br />
Une voix retentit sur le pont : « Ouvre l’œil ! »<br />
Une voix de la hune, ardente et folle, crie :<br />
« Amour… gloire… bonheur ! » Enfer ! c’est un écueil<br />
</p>

<p>
Chaque îlot signalé par l’homme de vigie<br />
Est un Eldorado promis par le Destin ;<br />
L’Imagination qui dresse son orgie<br />
Ne trouve qu’un récif aux clartés du matin.<br />
</p>

<p>
Ô le pauvre amoureux des pays chimériques !<br />
Faut-il le mettre aux fers, le jeter à la mer,<br />
Ce matelot ivrogne, inventeur d’Amériques<br />
Dont le mirage rend le gouffre plus amer ?<br />
</p>

<p>
Tel le vieux vagabond, piétinant dans la boue,<br />
Rêve, le nez en l’air, de brillants paradis ;<br />
Son œil ensorcelé découvre une Capoue<br />
Partout où la chandelle illumine un taudis.<br />
</p>

<div style="margin: 10px 0; text-indent:200px;">III</div>

<p>
Étonnants voyageurs ! quelles nobles histoires<br />
Nous lisons dans vos yeux profonds comme les mers !<br />
Montrez-nous les écrins de vos riches mémoires,<br />
Ces bijoux merveilleux, faits d’astres et d’éthers.<br />
</p>

<p>
Nous voulons voyager sans vapeur et sans voile !<br />
Faites, pour égayer l’ennui de nos prisons,<br />
Passer sur nos esprits, tendus comme une toile,<br />
Vos souvenirs avec leurs cadres d’horizons.<br />
</p>

<p>
Dites, qu’avez-vous vu ?<br />
</p>

<div style="margin: 10px 0; text-indent:200px;">IV</div>

<p>
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxxxxxxxxxxxxxxxxxxxx</span>
</span>
« Nous avons vu des astres<br />
Et des flots ; nous avons vu des sables aussi ;<br />
Et, malgré bien des chocs et d’imprévus désastres,<br />
Nous nous sommes souvent ennuyés, comme ici.<br />
</p>

<p>
La gloire du soleil sur la mer violette,<br />
La gloire des cités dans le soleil couchant,<br />
Allumaient dans nos cœurs une ardeur inquiète<br />
De plonger dans un ciel au reflet alléchant.<br />
</p>

<p>
Les plus riches cités, les plus grands paysages,<br />
Jamais ne contenaient l’attrait mystérieux<br />
De ceux que le hasard fait avec les nuages.<br />
Et toujours le désir nous rendait soucieux !<br />
</p>

<p>
— La jouissance ajoute au désir de la force.<br />
Désir, vieil arbre à qui le plaisir sert d’engrais,<br />
Cependant que grossit et durcit ton écorce,<br />
Tes branches veulent voir le soleil de plus près !<br />
</p>

<p>
Grandiras-tu toujours, grand arbre plus vivace<br />
Que le cyprès ? — Pourtant nous avons, avec soin,<br />
Cueilli quelques croquis pour votre album vorace,<br />
Frères qui trouvez beau tout ce qui vient de loin !<br />
</p>

<p>
Nous avons salué des idoles à trompe ;<br />
Des trônes constellés de joyaux lumineux ;<br />
Des palais ouvragés dont la féerique pompe<br />
Serait pour vos banquiers un rêve ruineux ;<br />
</p>

<p>
Des costumes qui sont pour les yeux une ivresse ;<br />
Des femmes dont les dents et les ongles sont teints,<br />
Et des jongleurs savants que le serpent caresse. »<br />
</p>

<div style="margin: 10px 0; text-indent:200px;">V</div>

<p>
Et puis, et puis encore ?<br />
</p>

<div style="margin: 10px 0; text-indent:200px;">VI</div>

<p>
<span style="visibility:hidden;">
<span style="color: transparent; background:&#160;;">xxxxxxxxxxxxxxxxxxxxxxx</span>
</span>
« Ô cerveaux enfantins !<br />
</p>

<p>
Pour ne pas oublier la chose capitale,<br />
Nous avons vu partout, et sans l’avoir cherché,<br />
Du haut jusques en bas de l’échelle fatale,<br />
Le spectacle ennuyeux de l’immortel péché :<br />
</p>

<p>
La femme, esclave vile, orgueilleuse et stupide,<br />
Sans rire s’adorant et s’aimant sans dégoût ;<br />
L’homme, tyran goulu, paillard, dur et cupide,<br />
Esclave de l’esclave et ruisseau dans l’égoût ;<br />
</p>

<p>
Le bourreau qui jouit, le martyr qui sanglote ;<br />
La fête qu’assaisonne et parfume le sang ;<br />
Le poison du pouvoir énervant le despote,<br />
Et le peuple amoureux du fouet abrutissant ;<br />
</p>

<p>
Plusieurs religions semblables à la nôtre,<br />
Toutes escaladant le ciel ; la Sainteté,<br />
Comme en un lit de plume un délicat se vautre,<br />
Dans les clous et le crin cherchant la volupté ;<br />
</p>

<p>
L’Humanité bavarde, ivre de son génie,<br />
Et, folle maintenant comme elle était jadis,<br />
Criant à Dieu, dans sa furibonde agonie :<br />
« Ô mon semblable, ô mon maître, je te maudis ! »<br />
</p>

<p>
Et les moins sots, hardis amants de la Démence,<br />
Fuyant le grand troupeau parqué par le Destin,<br />
Et se réfugiant dans l’opium immense !<br />
— Tel est du globe entier l’éternel bulletin. »<br />
</p>

<div style="margin: 10px 0; text-indent:200px;">VII</div>

<p>
Amer savoir, celui qu’on tire du voyage !<br />
Le monde, monotone et petit, aujourd’hui,<br />
Hier, demain, toujours, nous fait voir notre image :<br />
Une oasis d’horreur dans un désert d’ennui !<br />
</p>

<p>
Faut-il partir ? rester ? Si tu peux rester, reste ;<br />
Pars, s’il le faut. L’un court, et l’autre se tapit<br />
Pour tromper l’ennemi vigilant et funeste,<br />
Le Temps ! Il est, hélas ! des coureurs sans répit,<br />
</p>

<p>
Comme le Juif errant et comme les apôtres,<br />
À qui rien ne suffit, ni wagon ni vaisseau,<br />
Pour fuir ce rétiaire infâme ; il en est d’autres<br />
Qui savent le tuer sans quitter leur berceau.<br />
</p>

<p>
Lorsque enfin il mettra le pied sur notre échine,<br />
Nous pourrons espérer et crier : En avant !<br />
De même qu’autrefois nous partions pour la Chine,<br />
Les yeux fixés au large et les cheveux au vent,<br />
</p>

<p>
Nous nous embarquerons sur la mer des Ténèbres<br />
Avec le cœur joyeux d’un jeune passager.<br />
Entendez-vous ces voix, charmantes et funèbres,<br />
Qui chantent : « Par ici ! vous qui voulez manger<br />
</p>

<p>
Le Lotus parfumé ! c’est ici qu’on vendange<br />
Les fruits miraculeux dont votre cœur a faim ;<br />
Venez vous enivrer de la douceur étrange<br />
De cette après-midi qui n’a jamais de fin ? »<br />
</p>

<p>
À l’accent familier nous devinons le spectre ;<br />
Nos Pylades là-bas tendent leurs bras vers nous.<br />
« Pour rafraîchir ton cœur nage vers ton Électre ! »<br />
Dit celle dont jadis nous baisions les genoux.<br />
</p>

<div style="margin: 10px 0; text-indent:200px;">VIII</div>

<p>
Ô Mort, vieux capitaine, il est temps ! levons l’ancre !<br />
Ce pays nous ennuie, ô Mort ! Appareillons !<br />
Si le ciel et la mer sont noirs comme de l’encre,<br />
Nos cœurs que tu connais sont remplis de rayons !<br />
</p>

<p>
Verse-nous ton poison pour qu’il nous réconforte !<br />
Nous voulons, tant ce feu nous brûle le cerveau,<br />
Plonger au fond du gouffre, Enfer ou Ciel, qu’importe ?<br />
Au fond de l’Inconnu pour trouver du nouveau !<br />
</p>

{{ end }}
