{{ define "main" }}

<p>
A noir, E blanc, I rouge, U vert, O bleu, voyelles,<br />
Je dirai quelque jour vos naissances latentes.<br />
A, noir corset velu des mouches éclatantes<br />
Qui bombillent autour des puanteurs cruelles,<br />
</p>

<p>
Golfe d’ombre ; E, candeur des vapeurs et des tentes,<br />
Lance des glaciers fiers, rois blancs, frissons d’ombelles<br />
I, pourpres, sang craché, rire des lèvres belles<br />
Dans la colère ou les ivresses pénitentes ;<br />
</p>

<p>
U, cycles, vibrements divins des mers virides,<br />
Paix des pâtis semés d’animaux, paix des rides<br />
Que l’alchimie imprime aux grands fronts studieux ;<br />
</p>

<p>
O, suprême Clairon plein des strideurs étranges,<br />
Silences traversés des Mondes et des Anges :<br />
— O l’Oméga, rayon violet de Ses Yeux !<br />
</p>

{{ end }}
