{{ define "main" }}

<h2>Books</h2>
<ul class="book">
  <li>Total number of books: 914.0</li>
  <li>Total number of authors: 579.0</li>
  <li>Average number of books per year: 105.4</li>
  <li>Average number of books per month: 8.7</li>
  <li>Percentage of ebooks: 25.9</li>
</ul>

<h2>Pages</h2>
<ul class="book">
  <li>Total number of pages: 300109.0</li>
  <li>Average number of pages per year: 34627.9</li>
  <li>Average number of pages per month: 2885.6</li>
  <li>Average number of pages per book: 328.3</li>
</ul>

<h2>Languages</h2>
<ul class="book">
  <li>en: 10.6%</li>
  <li>fr: 89.3%</li>
</ul>

<h2>Books per year</h2>
<ul class="book">
  <li>2014: 93</li>
  <li>2015: 126</li>
  <li>2016: 152</li>
  <li>2017: 122</li>
  <li>2018: 121</li>
  <li>2019: 127</li>
  <li>2020: 98</li>
  <li>2021: 55</li>
  <li>2022: 23</li>
  <li>2023: 5</li>
</ul>

<h2>Most read authors</h2>
<ul class="book">
  <li>Agnès Martin-Lugand: 11</li>
  <li>Émile Zola: 11</li>
  <li>Joseph Kessel: 10</li>
  <li>Emmanuel Carrère: 8</li>
  <li>Caryl Férey: 8</li>
  <li>Delphine de Vigan: 8</li>
  <li>Sorj Chalandon: 8</li>
  <li>Cédric Gras: 8</li>
  <li>Grégoire Delacourt: 8</li>
  <li>Stefan Zweig: 8</li>
</ul>

<h2>Publication centuries</h2>
<ul class="book">
  <li>5th BC: 3</li>
  <li>2nd BC: 6</li>
  <li>1st: 6</li>
  <li>2nd: 2</li>
  <li>11th: 1</li>
  <li>13th: 1</li>
  <li>16th: 1</li>
  <li>17th: 2</li>
  <li>18th: 9</li>
  <li>19th: 97</li>
  <li>20th: 248</li>
  <li>21th: 538</li>
</ul>

<h2>Author origins</h2>
<ul class="book">
  <li>France: 60.1%</li>
  <li>United States of America: 7.9%</li>
  <li>United Kingdom: 6.5%</li>
  <li>Russia: 5.8%</li>
  <li>Italia: 1.7%</li>
  <li>Ukraine: 1.2%</li>
  <li>Switzerland: 1.2%</li>
  <li>Canada: 1.2%</li>
  <li>Sweden: 1.0%</li>
  <li>Germany: 1.0%</li>
</ul>

<h2>Editors</h2>
<ul class="book">
  <li>Gallimard: 25.9%</li>
  <li>Librairie générale française: 9.5%</li>
  <li>Points: 4.2%</li>
  <li>Payot: 2.9%</li>
  <li>Grasset: 2.9%</li>
  <li>Pocket: 2.9%</li>
  <li>Actes Sud: 2.9%</li>
  <li>10/18: 2.5%</li>
  <li>Seuil: 2.1%</li>
  <li>Flammarion: 1.7%</li>
</ul>

{{ end }}
