{{ define "main" }}

<h2>Guillaume Apollinaire</h2>
<ul>
  <li><a href="../poem/adieu">L'Adieu</a></li>
</ul>
<h2>Louis Aragon</h2>
<ul>
  <li><a href="../poem/dormirons_ensembles">Nous dormirons ensemble</a></li>
</ul>
<h2>Charles Baudelaire</h2>
<ul>
  <li><a href="../poem/lecteur">Au lecteur</a></li>
  <li><a href="../poem/sterile">Avec ses vêtements ondoyants et nacrés</a></li>
  <li><a href="../poem/benediction">Bénédiction</a></li>
  <li><a href="../poem/correspondances">Correspondances</a></li>
  <li><a href="../poem/profundis">De profundis clamavi</a></li>
  <li><a href="../poem/hymne">Hymne à la beauté</a></li>
  <li><a href="../poem/voute">Je t’adore à l’égal de la voûte nocturne</a></li>
  <li><a href="../poem/albatros">L'albatros</a></li>
  <li><a href="../poem/ennemi">L'ennemi</a></li>
  <li><a href="../poem/homme">L'homme et la mer</a></li>
  <li><a href="../poem/ideal">L'idéal</a></li>
  <li><a href="../poem/invitation">L'invitation au voyage</a></li>
  <li><a href="../poem/ame_du_vin">L'âme du vin</a></li>
  <li><a href="../poem/beaute">La beauté</a></li>
  <li><a href="../poem/chevelure">La chevelure</a></li>
  <li><a href="../poem/geante">La géante</a></li>
  <li><a href="../poem/mort">La mort des pauvres</a></li>
  <li><a href="../poem/muse_malade">La muse malade</a></li>
  <li><a href="../poem/muse_venale">La muse vénale</a></li>
  <li><a href="../poem/vie_anterieure">La vie antérieure</a></li>
  <li><a href="../poem/lethe">Le Léthé</a></li>
  <li><a href="../poem/guignon">Le guignon</a></li>
  <li><a href="../poem/masque">Le masque</a></li>
  <li><a href="../poem/soleil">Le soleil</a></li>
  <li><a href="../poem/chiffonniers">Le vin des chiffonniers</a></li>
  <li><a href="../poem/vin">Le vin du solitaire</a></li>
  <li><a href="../poem/voyage">Le voyage</a></li>
  <li><a href="../poem/bijoux">Les Bijoux</a></li>
  <li><a href="../poem/parfum">Parfum exotique</a></li>
  <li><a href="../poem/paysage">Paysage</a></li>
  <li><a href="../poem/remords">Remords posthume</a></li>
  <li><a href="../poem/satiata">Sed non satiata</a></li>
  <li><a href="../poem/roi">Spleen</a></li>
  <li><a href="../poem/ciel">Spleen</a></li>
  <li><a href="../poem/pluviose">Spleen</a></li>
  <li><a href="../poem/souvenirs">Spleen</a></li>
  <li><a href="../poem/passante">À une passante</a></li>
  <li><a href="../poem/elevation">Élévation</a></li>
</ul>
<h2>Joachim Du Bellay</h2>
<ul>
  <li><a href="../poem/heureux">Heureux qui, comme Ulysse...</a></li>
</ul>
<h2>Robert Byron</h2>
<ul>
  <li><a href="../poem/walks">She Walks In Beauty</a></li>
</ul>
<h2>Paul Éluard</h2>
<ul>
  <li><a href="../poem/air_vif">Air Vif</a></li>
  <li><a href="../poem/amoureuse">L'amoureuse</a></li>
  <li><a href="../poem/courbe">La courbe de tes yeux</a></li>
  <li><a href="../poem/defiguree">À peine défigurée</a></li>
</ul>
<h2>Robert Frost</h2>
<ul>
  <li><a href="../poem/road">The Road Not Taken</a></li>
</ul>
<h2>William Ernest Henley</h2>
<ul>
  <li><a href="../poem/invictus">Invictus</a></li>
</ul>
<h2>José-Maria de Heredia</h2>
<ul>
  <li><a href="../poem/conquerants">Les Conquérants</a></li>
</ul>
<h2>Victor Hugo</h2>
<ul>
  <li><a href="../poem/demain">Demain, dès l'aube...</a></li>
</ul>
<h2>Rudyard Kipling</h2>
<ul>
  <li><a href="../poem/if">if</a></li>
</ul>
<h2>Jules Laforgue</h2>
<ul>
  <li><a href="../poem/excuse">Excuse mélancolique</a></li>
</ul>
<h2>Alphonse de Lamartine</h2>
<ul>
  <li><a href="../poem/lautomne">L'automne</a></li>
  <li><a href="../poem/isolement">L'isolement</a></li>
  <li><a href="../poem/lac">Le lac</a></li>
  <li><a href="../poem/vallon">Le vallon</a></li>
</ul>
<h2>Stéphane Mallarmé</h2>
<ul>
  <li><a href="../poem/apparition">Apparition</a></li>
  <li><a href="../poem/brise">Brise marine</a></li>
</ul>
<h2>Louise Michel</h2>
<ul>
  <li><a href="../poem/hirondelle">L'hirondelle</a></li>
</ul>
<h2>Alfred de Musset</h2>
<ul>
  <li><a href="../poem/fortunio">Chanson de Fortunio</a></li>
  <li><a href="../poem/seulement">Se voir le plus possible</a></li>
  <li><a href="../poem/mademoiselle">À Mademoiselle</a></li>
  <li><a href="../poem/ninon">À Ninon</a></li>
  <li><a href="../poem/ninon2">À Ninon</a></li>
</ul>
<h2>Gérard de Nerval</h2>
<ul>
  <li><a href="../poem/fantaisie">Fantaisie</a></li>
  <li><a href="../poem/luxembourg">Une allée du Luxembourg</a></li>
</ul>
<h2>Jacques Prévert</h2>
<ul>
  <li><a href="../poem/cet_amour">Cet amour</a></li>
  <li><a href="../poem/escargots">Chanson des Escargots qui vont à l'enterrement</a></li>
  <li><a href="../poem/je_suis_comme_je_suis">Je suis comme je suis</a></li>
  <li><a href="../poem/cancre">Le cancre</a></li>
  <li><a href="../poem/pater">Pater Noster</a></li>
</ul>
<h2>Arthur Rimbaud</h2>
<ul>
  <li><a href="../poem/bateau">Le bateau ivre</a></li>
  <li><a href="../poem/dormeur">Le dormeur du val</a></li>
  <li><a href="../poem/chercheuses">Les chercheuses de poux</a></li>
  <li><a href="../poem/boheme">Ma bohême</a></li>
  <li><a href="../poem/roman">Roman</a></li>
  <li><a href="../poem/sensation">Sensation</a></li>
  <li><a href="../poem/saison">Une saison en enfer</a></li>
  <li><a href="../poem/voyelles">Voyelles</a></li>
</ul>
<h2>Paul Verlaine</h2>
<ul>
  <li><a href="../poem/trois_ans">Après Trois Ans</a></li>
  <li><a href="../poem/automne">Chanson d'automne</a></li>
  <li><a href="../poem/interminable">Dans l'interminable</a></li>
  <li><a href="../poem/green">Green</a></li>
  <li><a href="../poem/pleure">Il pleure dans mon coeur</a></li>
  <li><a href="../poem/angoisse">L'angoisse</a></li>
  <li><a href="../poem/gaspard">La chanson de Gaspard Hauser</a></li>
  <li><a href="../poem/reve">Mon rêve familier</a></li>
  <li><a href="../poem/nevermore">Nevermore</a></li>
  <li><a href="../poem/voeu">Voeu</a></li>
  <li><a href="../poem/femme">À une femme</a></li>
  <li><a href="../poem/soleil_moins_ardent">Épilogue - I</a></li>
  <li><a href="../poem/triste">Ô triste, triste était mon âme</a></li>
</ul>
<h2>Walt Whitman</h2>
<ul>
  <li><a href="../poem/captain">O Captain! My Captain!</a></li>
</ul>

{{ end }}
