<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <title>Lectures</title>

  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <meta name="title" content="Vincent Legout"/>
  <meta name="author" content="Vincent Legout"/>

  <link rel="stylesheet" href="/css/foundation.min.css">
</head>
<body>

  <div class="top-bar" id="responsive-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li><a href="https://vincent.legout.info" style="color: #000;">VL</a></li>
        <li><a href="/">Accueil</a></li>
        <li><a href="/archives">Archives</a></li>
        <li><a href="/authors">Auteurs</a></li>
        <li><a href="/poetry">Poésie</a></li>
        <li><a href="/stats">Statistiques</a></li>
      </ul>
    </div>
  </div>

  <div class="callout text-center">
    <h1>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s" .Title }}{{ end }}</h1>
  </div>

  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-8">
        <ul class="book">
          <a href="2014">2014</a> -
          <a href="2015">2015</a> -
          <a href="2016">2016</a> -
          <a href="2017">2017</a> -
          <a href="2018">2018</a> -
          <a href="2019">2019</a> -
          <a href="2020">2020</a> -
          <a href="2021">2021</a> -
          <a href="2022">2022</a> -
          <a href="2023">2023</a>
        </ul>
      </div>
    </div>
  </div>

<script src="/js/jquery.js"></script>
<script src="/js/what-input.js"></script>
<script src="/js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>

</body>
</html>
